/*
http://www.lavishbootstrap.com/
Go here
Choose a theme
Grab the css
Remove the carousel code
*/

body h1.page-header, .navbar-brand{
	font-family: Zapf Chancery, cursive;
}
/*
body p{
	font-family: normal;
}*/