/*
http://www.lavishbootstrap.com/
Go here
Choose a theme
Grab the css
Remove the carousel code
*/

table#productMap h3, span.glyphicon-certificate{
	color:#eee;
	text-shadow: 2px 2px #333;
	cursor: pointer;
}

table#productMap span.empty{
	color:gray;
}