.container
  %hr/
  .row
    .col-sm-6
      %p
        All work provided through Heartwood is in accordance with the International Society of Arboriculture.
      %p
        Tree Maintenance License TL-924667 City of San Antonio
    .cols-sm-6
      %h3.pull-right.well
        TX-3836A
        = image_tag 'index/isa.jpg', class: 'img-responsive', title: 'Member of the Texas Chapter of the ISA'



