.container
  %hr/
  .row
    .col-sm-6
      = image_tag 'gallery/arborist/tree_maintenance_license.jpg', class: 'img-responsive img-rounded', title: 'License'
      %p
        Tree Maintenance License TL-924667 City of San Antonio
      %p
        All work provided through Heartwood is in accordance with the International Society of Arboriculture.

    .cols-sm-6
      %h3.pull-right.well
        TX-3836A
        = image_tag 'index/isa.jpg', class: 'img-responsive', title: 'Member of the Texas Chapter of the ISA'



