---
title: About us
---
%h1 
  About us
  %small.text-muted who we are 

%p Wholesale Landscape Materials carries the best landscaping materials for any type of commercial and residential project. We are a local small business owned and operated by Hector Serrano for over twenty years. 

%p We have a variety of rock, stone, chopped block, compost, and mulch of different sizes, shapes and colors for all contractors and landscapers at competitive prices.  We have great customer service and we love sharing our knowledge of the materials to help you make a decision.

%p Stop by our retail shop at Redland and visit our new location and look at what we have available.  Looking forward to meeting all new clients and we welcome you! Schedule your delivery today!



