---
title: Wholesale Landscape Materials 
description: Design your lawn, yard and patio with quality products and schedule your delivery.  Choose from different sizes of rock, mulch, compost, and stones. 
---
%h1 Who we are 


.row
  .col-lg-6
    %p 
      = click_to_call
      is a local small business owned and operated by Hector Serrano for five years. We are conveniently located off Redland Rd and provide a variety of rock, stone, chopped block, 
      compost, and mulch of different sizes, shapes and colors for all styles of building and designing projects.  We have the supplies you need for all hardscape installations, patio designs, decorative walkways or pathways for all commercial and residential customers at competitive prices. 
      
    %p 
      We pride in providing the best customer service and we love sharing our product knowledge to help you make a decision.  Stop by our retail shop and we'll load your best product selection.  
    
    %p 
      Looking forward to meeting you and we welcome you to our new website!
    
    %p 
      Call or fill our contact for and schedule your delivery today!
      Ask about our military discounts. We accept Visa, Mastercard, American Express and Discover.  No checks!
    
    
  .col-lg-6= image_tag "about/truckloader.jpg", class: 'img-fluid rounded', title: 'WLM Truck loader', "data-toggle": :tooltip


