---
title: Services we offer
---
%h1 
  Services
  %small.text-muted we offer
.container
  .row
    .col-lg-6
      %h3 Pickup
      %p We load your trucks  with your permission.  We are not liable for any damages.


      %h3 Delivery 
      %p
        All deliveries are scheduled throughout the days of the week if weather
        permits.  We have two delivery trucks available to deliver to San Antonio
        metro, Helotes, Universal, Schertz, Live Oaks, Boerne, Bulverde, Comfort
        and New Braunfels.
      %p
        Wholesale Landscape Materials is not responsible for any property
        damages when making deliveries if customer instructs drivers to delivers
        inside property or on sidewalks, or on driveways that is difficult to dump
        material.

      %h4 All sales are final, no returns.
    .col-lg-6
      = image_tag "about/deliverytruck.jpg", class: 'img-fluid rounded'
%hr
.container
  .row
    .col-lg-4.col-sm-12.p-2= image_tag "about/loader.jpg", style: 'width: 100%', class: 'img-fluid rounded', title: 'Loader', "data-toggle": :tooltip
    .col-lg-4.col-sm-12.p-2= image_tag "about/wlmoffice.jpg", style: 'width: 100%',  class: 'img-fluid rounded', title: 'WLM Office', "data-toggle": :tooltip
    .col-lg-4.col-sm-12.p-2= image_tag "about/weigher.jpg", style: 'width: 100%',  class: 'img-fluid rounded', title: 'Weigh scale', "data-toggle": :tooltip

