.container
  %h1 
    Silver City 
    %small.text-muted Pre-paid Services
  %b You can Pay now with Paypal, then bring your receipt with you to your appointment. Check my Calendar then make your appointment.

  %h4 Gift Certificates Available    
  %table.table.table-striped
    %tr
      %th Item
      %th Price
      %th(width=300 style="text-align:center") 
    = partial("partials/cyn/service", locals: {title: "60 Minutes Massage Therapy", price: 60.00})
    = partial("partials/cyn/service", locals: {title: "60 Minutes RainDrop Technique", price: 80.00})
    = partial("partials/cyn/service", locals: {title: "90 Minutes Massage Therapy", price: 80.00})

