---
title:  Massage Services Paid in Advance
description: Prepaid Massage therapy services for San Antonio area by appointment with Cynthia Moseley, LMT.
---

.container
  %h1 
    San Antonio
    %small.text-muted Pre-paid Services
  %b You can Pay now with Paypal, then bring your receipt with you to your appointment. Check my Calendar then make your appointment.

  %h4 Gift Certificates Available 
  %table.table.table-striped
    %tr
      %th Item
      %th Price
      %th(width=300 style="text-align:center") 
    = partial("partials/cyn/service", locals: {title: "60 Minutes Massage Therapy", price: 80.00})
    = partial("partials/cyn/service", locals: {title: "60 Minutes RainDrop Technique", price: 120.00})
    = partial("partials/cyn/service", locals: {title: "90 Minutes Massage Therapy", price: 90.00})

