---
title:  Raindrop Technique | Essential OIls Therapy
description: Our most popular treatment is the Raindrop Technique using nine essential oils  while massaging in circular motion to ease pain and decrease the stiffness
---

.container
  %h1.page-header Raindrop Technique
  Nine different Therapeutic Grade essential Oils from Young Living are sprinkled onto the back and rubbed in using featherlight strokes and deeper circular strokes along the spine. This is then followed by hot packs applied to the back to drive the oils deeply into the skin. While the hot packs are on, the extremities are massaged to give the body a feeling of continuity. This technique has been documented to ease pain, decrease the stiffness associated with curvature of the spine, and make the body chemistry inhospitable for bacteria and viruses to live.
