.container
  %h1.page-header 
    Spa Treatments
    %small Limited Availability
  %h3 Spa Treatment - Detox Wrap

  This Spa Treatment wrap takes about an hour and a half from start to finish. First you are gently exfoliated with a dry brush massage, then a special Therapeutic Essential Oil mixture is applied over the entire body. A hot, moist towel is placed on the body and you are wrapped for a total of 50 minutes. At this time, you have the option of a face and head massage or a detox foot mask. It is best to leave the oil on for as long as possible after the wrap.

  %h4 90 minutes - $120.00

  %h3 Steam Tent

  Get a steam room steam without leaving the comfort of the table!

  %h4 30 minutes - $35.00 with Aromatherapy
