.container
  %hr
  .row
    .col-sm-6

      %p
        Click on 'Application' to download the application form in PDF format. 
      %p
        Print it out and fill the required information and email it to: 
        = mail_to "magrealestate@gmail.com",  "magrealestate@gmail.com", subject: "Application Form"

      %p Note: One application per applicant.

      %p After reviewing the application, we will call you if we need any additional information.
      %p= link_to "Application", "/assets/img/index/application.pdf", class: 'btn btn-success'

    .col-sm-6
      %p= image_tag "index/equalopportunity.png"
