.container
  %hr/
  .row
    .col-sm-6
      = link_to '/assets/img/spaniard-license.jpg' do
        = image_tag('spaniard-license-thumb.jpg', class: 'img-responsive', title: 'License') 
    .cols-sm-6
      %h4
        Tree Maintenance License TL-921757 City of San Antonio
      %p
        All work provided in accordance with the International Society of Arboriculture.