body{
  padding-top: 80px; /*80*/
}

#logo{
	margin-top:-16px;
}

span.click_to_call{
	font-weight:bold;
  font-size: 16px;
  color: firebrick;
}

ul li.no-style{
	list-style: none;
}


@media (max-width: 768px) {
  #site-subtitle{
  	display: none;
  }
}

span.required_field{
	color:firebrick;
}