---
title: About Fernando The Spaniard Tree Service
description: You have choices, hire Fernando the Spaniard Tree Service for all your tree care in San Antonio, Boerne and Helotes area. 
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  About
  %small Fernando "The Spaniard" Tree Service

%p 
  I  have 17 years of experience working with other companies engaging in all types of tree work.  I am currently enrolled to get my certified arborist license and have begun to work for my own company.  

%p 
  My experience extents to daily tree service work for residential and commercial tree trimming and tree removal. Tree care for every homeowners and business owner is a  critical property investment.  We suggest you 

%p 
  My crew will respect your property as if it was our own. We are fully licensed and insured.  We are animal lovers, but prefer the your four-legged friends to be inside the house or sustained while we are doing work on your property to avoid any danger to them from a fallen branch or limb and any harm to the workers.


%h3 How to hire me

%p 
  Call our office at 
  = link_to "210-551-0825", "tele:210-551-0825"
  and our administrator will add you to our system. I, Fernando, owner will call you to make an appointment to walk the property with you or to evaluate your tree.  If you are present, a verbal estimate will be given;  then we will email you the estimate for you to review and confirm.  The job will get scheduled after confirmation and as we soon as we agree on a calendar date.  All projects are completed on time depending on weather conditions.

%p
  %b Thank you for hiring "The Spaniard"!  
