---
title: About Fernando The Spaniard Tree Service
description: You have choices, hire Fernando the Spaniard Tree Service for all your tree care in San Antonio, Boerne and Helotes area. 
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1 
  About
  %small Fernando "The Spaniard" Tree Service


%p
  I have 17 years of experience working with other companies engaging in all types of tree work. I am currently enrolled for my certified arborist license in January 2016 and have begun to work for my own company.

%p
  My experience extends to daily tree service work for residential and commercial tree trimming, general tree maintenance and tree removal. We love the concept of helping the San Antonio community to keep their greenery landscapes.

%p
  My crew will respect your property as if it was our own. We are a fully insured local company.  Our mission is to leave your property as clean as possible so that you may enjoy your well maintained trees and landscape. 



%h2 How to hire me

%p
  Our hours of operation are Monday through Saturday from 8:00AM - 5:00. Call our office at 210-551-0825 and our administrator will add you to our system. I, Fernando, owner will call you to make an appointment and walk the property with you to evaluate your trees. If you are present, a verbal estimate will be given and we will also email you the estimate for your review and confirmation. The job will be added to our schedule after confirmation is received and job date is agreed. All projects are completed on time depending on weather conditions. For your convenience, we also have a contact form where you may easily request a free estimate for your tree project.

%h3 Thank you for hiring "The Spaniard"!
