---
title: About Fernando The Spaniard Tree Service
description: You have choices, hire Fernando the Spaniard Tree Service for all your tree care in San Antonio, Boerne and Helotes area. 
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1 
  About
  %small Fernando "The Spaniard" Tree Service


%p
  I have 17 years of experience working with other companies and engaging in all types of tree work. I have since begun to build and expand my own company to help maintain San Antonio trees. Our priority is doing a great job at a competitive price and leaving every customer satisfied with the work performed.

%p 
  My experience extends to daily tree service work for residential and commercial tree trimming, ball moss removal, general tree maintenance and tree removal. 
%p 
  I have a hard working crew and I work along side with my crew to make sure all projects get done correctly and on time.  The Spaniard Tree Service will leave your property as clean as possible so that you may enjoy your beautiful well-groomed trees. 

%h2 How to hire me

%p
  Our hours of operation are Monday through Saturday from 8:00AM - 5:00. Call our office at 210-551-0825 and our administrator will add you to our schedule. I, Fernando, owner will call you to make an appointment and walk the property with you to evaluate your trees. All projects are completed on time depending on weather conditions. For your convenience, we also have a contact form where you may easily request a free estimate for your tree project.

%h3 Thank you for hiring "The Spaniard"!
