---
title: Tree Removal in San Antonio Texas
description: Don’t overpay for your tree removal services, hire Fernando the Spaniard, to keep the cost low and for a professional job. 
---

%h1.page-header 
  Tree Removal
  %small  Services in Texas
%p
  %b Need Tree Removal? 
  We remove any tree that is in a dangerous place such as electrical wires or you have received a request from the city to remove a tree that is a danger to traffic or your home.  All utilities lines and cables have to be located before doing an removal for safety.  Tree removals are done limb or branch at a time using various ropes to control the fall and direction of the fall to avoid damage to property and for the safety of the working tree crew.  Depending on the size of the tree(s), the job may be a day job. We will chip and haul off all debris and large tree trunks.  We can also leave you any wood that you may want for fire or personal use. 

.pull-right
  = image_tag 'gallery/tree_removal/above_gazebo.jpg', title: "Tree Removal", class: 'img-responsive img-rounded'

%h3 Types of Tree Removals



%p
  Tree removal request may be ground to level or a total removal with stump grinding which is an additional cost.  The best option to avoid termites or danger to property is tree removal plus stump grinding.   The cost depends on the location of the tree, the size, and restrictions to get to the tree or stump that may complicate the extraction.  Tree removals should not be considered a “do it yourself” project because of the complications and dangers to it.  Prices may be higher but safety first for your family and property.  Estimates are free so it doesn’t hurt to call our office and get a cost for the removal project.   

%h3 When to Remove a tree

%p
  %b Remove a tree only if it's a necessity.  
  Trees provide great shade and beautiful landscapes in Texas.  A tree should only be removed if it is damaged, has fallen and caused structural damage, too close to fence line or if it  cannot survive after being fertilized.  Unwanted trees may also be removed but we definitely encourage replacing it with a tree of your choice. 
