---
title: Tree Removal in San Antonio Texas
description: Don’t overpay for your tree removal services, hire Fernando the Spaniard, to keep the cost low and for a professional job. 
---

%h1.page-header 
  Tree Removal
  %small  Services in Texas
%p
  %b Need Tree Removal? 
  We remove any tree that is located in a dangerous place or if you have received a request from the city to remove a tree that is a danger to traffic, a residence or your neighbor's property.  When performing a removal, we practice safety first.  Tree removals are done limb or branch at a time using various ropes to control the fall and direction of the fall to avoid damage to property and for the safety of the tree crew.  Depending on the size of the tree(s), the job may take a day or more. We will chip and haul off all debris and large tree trunks.  
  %i We will also leave any wood that you may want for fire or personal use. 

.pull-right
  = image_tag 'gallery/tree_removal/tree_removal_overcast.png', title: "Tree Removal", class: 'img-responsive img-rounded' 
  
%h3 Types of Tree Removals

%p
  A tree may be removed at the ground level or a total removal, which requires stump grinding, which is an additional cost.  
  The best option to avoid termites or danger to your property is tree removal plus stump grinding.   
  The cost depends on the location of the tree, the size, and restrictions that might limit our ability to get to the tree or stump, which may complicate the extraction. Prices may be higher, but safety is our first priority for your family and property, don't try to "do it yourself". 

%p
  %b Estimates are free so don't hesitate to call our office and get on the schedule.  

%h3 When to Remove a tree

%p
  %b Remove a tree only when necessary.
  Trees provide great shade and beautiful landscapes in Texas.  
  A tree should only be removed if it is damaged, has fallen and has structural damage, is too close to the fence line or if it cannot survive after being fertilized.Unwanted trees may also be removed, but we definitely encourage replacing it with a tree of your choice. 
  We will evaluate any tree that you think may need to either be trimmed or removed. Sometimes a good trimming is all it needs.   