- content_for :carousel do
  = site_partial('carousel') if  site.carousel

%h1.page-header 
  Natural Skin Care 
  %small by Norma Perry
%p 
  Norma Perry, Licensed Aesthetician, received her license in 1987 from Bogota, Colombia. Norma has twenty years in skin care and working experience in Renown Spas in Bogota, Florida and is currently practicing in San Antonio and Universal City, Texas.
%p
  Your face is your first impression; let Norma rejuvenate your skin to its youthful stage again with her professional anti-aging facials. Worried about aging and sagging skin? A regular facial can do wonders for your beautiful skin. Norma also offers permanent make-up; for that “ready-to-go” look in the mornings without spending hours applying eyebrow or eyeliner make-up.
%p
  The product line that Norma uses are very exclusive and organic; products that will ensure the best results and satisfaction for your beautiful face. Since 1987 Natural Beauty Reflections has consistently delivered exceptional, beautiful skin that delivers a smile to all of Norma Perry’s clients. Don’t wait to show off your new look! Reflection matters!
%p
  Norma’s office is located in Universal City and services: Universal City, Randolph AFB, Converse, Boerne, New Braunsfels, San Antonio, Alamo Heights, Windsor, Shertz Texas, Buda, Kyle, and Austin Texas.
%p
  Everyone needs a little pampering. Schedule yours today! Have an event, a date, a holiday event..visit Natural Beauty Reflections!
%p 
  Make your appointment by calling
  =click_to_call 
  at 210-887-9339 or use the Contact Form.

