%h1.page-header
  Specials

  %h3 Bodies in Alignment Welcomes Norma Perry

  %p Introductory Mini Facial Special $49.00
  Call to make your Appointment today

  %p The Advanced European Facial:

  %p
    Ultrasonic deep cleansing + Face-Neck & Shoulder
    
    %br/
    Massage + Hydrating Mask + Vita-C Serum and

  %p Bio-Cell Rejuvenating moisturizer


  %p Get "Hand Rejuvenation Treatment!" with LED light Therapy
  %p

    ( Regular Price $35.00)
  %p All THIS FOR $ 95.00


