%h1.page-header
  Testimonials
  %small.text-muted= site.title


%h3 Best European Facial
%blockquote
  I had the pleasure of meeting Norma Perry about four years ago. For the first time in years, I got the best European facial ever with very little reaction to the products. My skin is so dry and gets irritated easily. By the third week, my face looked young, radiant and smooth. To-date, I’m still getting facials and light therapy with Norma. I highly recommend you give her a try.

  %footer ET, San Antonio