---
title: Sunshine Landscape and Management, Inc.
description: this is sunshine
keywords: about us, see us, be u
---


.container
  .row
    .col-lg-8
      %h1 
        About
        %small.text-muted= site.title
      %p  
        Sunshine LogoSunshine Landscape Management is owned and operated by Mr. Raymond Dadi from San Antonio, Texas. Sunshine Landscape offers Commercial & Residential Landscape Design and Installation, Landscape Construction, Xeriscape, Hardscape, Water Features and Landscape Lighting and Installations. The results in your property will be a combination of your ideas and Mr. Dadi's experience to create a magical, beautiful, functional landscaping; therefore, adding value to your property and creating a new image with a combination of plants and structures to any neighborhood. We are a full landscaping and designing company providing landscape and hardscape design & contracting services to the following areas: San Antonio Texas, Houston Texas, Austin Texas, Dallas Texas, Corpus Christi and surrounding areas.

      
      %h3 
        Xeriscape Services 
        %small by Sunshine Landscaping
      

      %ul
        %li Popular type of landscaping in Texas to save water
        %li Cactus or other plants that work well in Texas
        %li Colorado Rocks or granite rocks
        %li Use of mulches
        %li Requires appropriate plant selection
        %li Consultation of plant selection
      
      %h3 
        Hardscape 
        %small Design
      %ul
        %li Elements in your Design - River Rocks, Colorado Rocks, Building Stones
        %li Use of Walkways, patios, fences
        %li Enhances your property and upgrades value
        %li Less Maintenance
        %li Saves Water
        %li Consultation for best hardscape designs


    .col-lg-4
      = image_tag "http://ray.mblz.com/system/uploads/131/original/sunshinelogo.gif"
      %p
      %h3 Raymond Dadi
      = image_tag "http://ray.mblz.com/system/uploads/131/original/rdady.jpg", class: 'img-circle'

  .row
    %h2 
      Benefits 
      %small of Hiring Sunshine Landscaping and Management, Inc.

    %table.table.table-striped
      %tr
        %th Initial Call  
        %th Consultation  
        %th Property Eval 
        %th Computer Design 
        %th Estimate
      %tr
        %td Follow-up  
        %td Implement ideas
        %td Material Selection
        %td Projected Design
        %td  Free 
      %tr
        %td Experienced  
        %td Master Horticulture Degree
        %td 27 years experience
        %td Before/After
        %td Written
      %tr
        %td Quality Work   
        %td Professional Suggestions
        %td Planned Timeline
        %td Commitment
        %td Cost Effective 
      %tr
        %td Planning & Analysis 
        %td Satisfaction Guaranteed
        %td Project Completed on Time
        %td Follows Guidelines 
        %td Ongoing Maintenance   


        
     
