---
title: Landscape designer |  Horticulturist
description: Hiring Sunshine Landscaping and Management will help you to finalize your plans for your landscaping project
keywords: plant specialist, horticulturist, landscape construction
---


.row
  .col-lg-8.col-md-6
    = image_tag "http://ray.mblz.com/system/uploads/131/original/sunshinelogo.gif", class: 'img-fluidpull-left rounded-circle', style: 'width: 150px;height: 150px;margin-right:16px'

    %h1 
      About
      %small.text-muted= site.title
    %p  
      Sunshine LogoSunshine Landscape Management is owned and operated by Mr. Raymond Dadi from San Antonio, Texas. Sunshine Landscape offers Commercial & Residential Landscape Design and Installation, Landscape Construction, Xeriscape, Hardscape, Water Features and Landscape Lighting and Installations. The results in your property will be a combination of your ideas and Mr. Dady's experience to create a magical, beautiful, functional landscaping; therefore, adding value to your property and creating a new image with a combination of plants and structures to any neighborhood. We are a full landscaping and designing company providing landscape and hardscape design & contracting services to the following areas: San Antonio Texas, Houston Texas, Austin Texas, Dallas Texas, Corpus Christi and surrounding areas.

    %h3 About Raymond Dady, owner and Degreed Horticulturist

    %p I provide all my commercial and residential landscaping clients (new and existing) with quality and professional jobs - 100% satisfaction guaranteed. I give free estimates and evaluation of your property with the first initial appointment.

    %h4 Who am I?

    %ul
      %li Master Degree Horticulture
      %li Plant Specialist
      %li Landscape Designer
      %li 27 years of experience
      %li Speak Multi-Languages to satisfy all my clients
      %ul
        %li Spanish
        %li English
        %li Persian

  .col-lg-4.col-md-6

    %h3 Raymond Dady
    = image_tag "http://ray.mblz.com/system/uploads/131/original/rdady.jpg", class: 'rounded-circle img-responsive'



.row
  .col-md-12
    %h2 
      Benefits 
      %small of Hiring Sunshine Landscaping and Management, Inc.

    %table.table.table-bordered
      %tr
        %th Initial Call  
        %th Consultation  
        %th Property Eval 
        %th Computer Design 
        %th Estimate
      %tr
        %td Follow-up  
        %td Implement ideas
        %td Material Selection
        %td Projected Design
        %td  Free 
      %tr
        %td Experienced  
        %td Master Horticulture Degree
        %td 27 years experience
        %td Before/After
        %td Written
      %tr
        %td Quality Work   
        %td Professional Suggestions
        %td Planned Timeline
        %td Commitment
        %td Cost Effective 
      %tr
        %td Planning & Analysis 
        %td Satisfaction Guaranteed
        %td Project Completed on Time
        %td Follows Guidelines 
        %td Ongoing Maintenance   


      
     
