---
title: About Sunshine Landscape Management, San Antonio Texas
description:  Quality residential and commercial outdoor landscape designs and irrigation installations services for San Antonio, Boerne, Schertz, Bandera, Selma and New Braunfels. 


---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 
%h1 
  %small About 
  Sunshine Landscape Management
.row
  .col-lg-8.col-md-6


    %p Sunshine is a San Antonio landscape contracting company committed to landscape designs with installation of new plants, shrubs, trees, irrigation, sod, water features, walkways, outdoor kitchens, fences, and firepits.  
    %p Our company is family-owned and operated by Mr. Raymond Dady, a professional landscape designer providing the best ideas and plant selections at a competitive price for an easy to manage, low maintenance, and functional lawn for commercial or residential.  We achieve your goals using the elements of landscape such as:  Xeriscape, Hardscape or Softscape or just a new look. 
    %p Our landscaping service area is San Antonio, Bandera, Spring Branch, Boerne, Schertz, Selma and New Braunfels. 
    %p Transform your backyard and frontyard today into a relaxing oasis with lots of privacy.  
    /%p Big Discounts And Low Prices for 2019! Contact us!
    %h3 
      Big Discounts And Low Prices for
      = "#{Date.today.year}!"
      = link_to "Contact us!", 'contact'
  .col-lg-4.col-md-6
    %h3 Raymond Dady, Owner
    = image_tag "http://ray.mblz.com/system/uploads/131/original/rdady.jpg", class: 'rounded-circle img-responsive'






