---
title: Irrigation & Sprinkler Systems, Sunshine Landscape Management 
description: New irrigation and sprinkler systems to beat the summer Texas hit with drip systems installs to all your new plants, shrubs and trees. 
---
- @no_container = true
.container
  %h1 Lawn Irrigation and Sprinkler Installation
  %p 
    Sunshine Landscape Management suggests the installation of an irrigation system to beat the summer heat for your new landscape design.  
    For our clients that still want to enjoy the greenery of sod installation in their yards, we highly recommend either a strong drought resistant grass or the installation of a 
    sprinkler system. Sunshine Landscape Management uses the best Rainbird products with photo sensor and a drip system on all trees and plants installed for easier watering and maintenance.           

= image_tag '/assets/img/gallery/irrigation/1zone-installation.jpg', class: 'img-fluid w-100', alt: 'Zone installation'
