---
title: Services Sunshine
description: this is sunshine
keywords: about us, see us, be u
---

%h1.page-header 
  Services
  %small Irrigation, Maintenance and Design


%p 

  Sunshine Landscape Management from San Antonio, Texas offers Commercial Landscape Design and Installation, Landscape Construction, Xeriscape, Hardscape, Irrigation, Commercial Water Features and Landscape Lighting and Installations. Each project is completed professionally and timely. Areas we service: San Antonio Texas, Houston Texas, Austin Texas, Dallas Texas, Corpus Christi and surrounding areas.
%p
  New Apartments Construction Landscaping & Design & Irrigation Installation New Office Sites Construction Landscaping & Design & Irrigation Installation New Retail and Business Complexes Construction Landscaping & Design & Irrigation Installation


%h3 
  Xeriscape  
  %small Services


%ul
  %li Popular type of landscaping in Texas to save water
  %li Cactus or other plants that work well in Texas
  %li Colorado Rocks or granite rocks
  %li Use of mulches
  %li Requires appropriate plant selection
  %li Consultation of plant selection

%h3 
  Hardscape 
  %small Design
%ul
  %li Elements in your Design - River Rocks, Colorado Rocks, Building Stones
  %li Use of Walkways, patios, fences
  %li Enhances your property and upgrades value
  %li Less Maintenance
  %li Saves Water
  %li Consultation for best hardscape designs



%h3 
  Commercial 
  %small Xeriscape Services
%ul
  %li 561730 Seasonal property maintenance services
  %li 561730 Landscaping services (except planning)
  %li 541310 Architectural (except landscape) design services
  %li 541320 Landscape design services
  %li 561730 Landscape care and maintenance services
  %li 333112 Grass mowing equipment, powered lawn and garden, manufacturing
  %li 561730 Mowing services (e.g., highway, lawn, road strip)
  %li 561730 Lawn mowing services
  %li 561730 Lawn care services (e.g., fertilizing, mowing, seeding, spraying)
  %li 561730 Maintenance of plants and shrubs in buildings

