.container
  .row
    .col-md-8
      %h1 Hello
      %p 
        At the 
        = click_to_call
        , we do . 
      %p
        = click_to_call
        is a 
      %ul
        %li What
        %li Why
        %li When
    .col-md-4.well
      %ul
        %li Service 1
        %li Service 2


 