---
title:  Landscape Designs & Installations, Sunshine Landscape Management 
description: Amazing new landscape designs to include custom patios, walkways, outdoor kitchen designs, fences, and outdoor landscape lighting by professionals.  
---
- @no_container = true

.container
  %p
  %h1 Landscape Designs
  %p Our professional landscape installation crew is ready to finalize your dream inspired creative design with new custom patios, walkways, water features or a preferred add-on outdoor kitchen design enhanced with some outdoor landscape lighting to showcase your place at night.
  %p Contact Sunshine Landscape Management for an on-site consultation and estimate. We also specialize in irrigation installation, french drainage systems, fencing in cedar posts or iron. masonry/flagstone walkways and patios in different styles, colors, designs and patterns to meet your project requirements. Our staff is experienced and equipped to install the right types of landscaping materials that is right for our Texas area.
  
  %h2  New Landscape Installation
  %p 
    This lawn (pictured below) was designed with new flower beds, beds around trees, palms, shrubs and new sod, enhancing the color and taking advantage of the right amount of shade and sun.
   
= image_tag '/assets/img/services/landscape.jpg', class: 'img-fluid w-100', alt: 'Landscape design'

.container
  %p
  %h2  Hardscape Design
  %p
    Design using natural heavier elements such as river rocks, colorado rocks, boulders and building stone to construct walkways, patios, paver patios and fences. 
    %br
    %b Benefits
    %ul
      %li Enhances your property and upgrades value
      %li Less Maintenance
      %li Saves water
= image_tag '/assets/img/gallery/1landscape-design/landscape3.jpg', class: 'img-fluid w-100', alt: 'Hardscape'

.container
  %p
  %h2 Softscape
  %p An inviting soft design using beautiful flowers, ground covers, and shrubs mixing different vibrant colors and tones to achieve a certain look that is appealing yet adding value to a house or business place.   
  %p Such as adding soil to level ground, install plants with flower and beautiful color   schemes to make an inviting cool atmosphere.

= image_tag '/assets/img/gallery/xeriscaping/enhancelandscaping.jpg', class: 'img-fluid w-100', alt: 'Softscape'

.container
  %p 
  %h2 Xeriscape
  %p 
    Installation of rocks, cactus, granite, boulders for converse water and low  maintenance, outdoor lighting. 
    Popular landscaping style in Texas for water conservation, supported by SAWS programs and 
    %a(href="https://www.saws.org/conservation/outdoor/sevensteps.cfm") rebate.
    Cactus or other native drought-resistant plants that work well in Texas.
    Colorado Rocks or granite rocks.
    %br
    %b Benefits
    %ul
      %li Low Maintenance
      %li Water conservation
      %li Drought resistant
= image_tag '/assets/img/gallery/xeriscaping/8.jpg', class: 'img-fluid w-100', alt: 'Xeriscape'

-#   %ul
-#     %li Popular type of landscaping in Texas to save water
-#     %li Cactus or other plants that work well in Texas
-#     %li Colorado Rocks or granite rocks
-#     %li Use of mulches
-#     %li Requires appropriate plant selection
-#     %li Consultation of plant selection
-# -# .container-fluid
-#   .container    
-#     .row
-#       .col-12
-#         %h2 Hardscape
-#     .row
-#       .col-4
-#         %h3 Header
-#         %ul
-#           %li list
-#           %li list list 
-#           %li list 
-#           %li list
-#       .col-4
-#         %h3 Header
-#         %ul
-#           %li list
-#           %li list list 
-#           %li list 
-#           %li list
-#       .col-4
-#         %h3 Header
-#         %ul
-#           %li list
-#           %li list list 
-#           %li list 
-#           %li list


-# :css 
-#   .bg{
-#     background-size: cover;
-#     background-repeat: no-repeat;
-#     /margin:0;
-#     /padding:0;
-#     /margin-top: 12px;
-#   }
-#   .bg h2{
-#     background-color: #fff;
-#     padding: 22px;
-#   }
-#   #hardscape{
-#     background-image: url('/assets/img/gallery/landscape-design/landscape3.jpg');
-#     height: 500px;
-#   }
-#   #hardscape{
-#     background-color:white;
-#   }


-# .container
-#   %h3 
-#     Hardscape 
-#     %small Design
-#   %ul
-#     %li Elements in your Design - River Rocks, Colorado Rocks, Building Stones
-#     %li Use of Walkways, patios, fences
-#     %li Enhances your property and upgrades value
-#     %li Less Maintenance
-#     %li Saves Water
-#     %li Consultation for best hardscape designs



-#   %h3 
-#     Commercial 
-#     %small Xeriscape Services
-#   %ul
-#     %li 561730 Seasonal property maintenance services
-#     %li 561730 Landscaping services (except planning)
-#     %li 541310 Architectural (except landscape) design services
-#     %li 541320 Landscape design services
-#     %li 561730 Landscape care and maintenance services
-#     %li 333112 Grass mowing equipment, powered lawn and garden, manufacturing
-#     %li 561730 Mowing services (e.g., highway, lawn, road strip)
-#     %li 561730 Lawn mowing services
-#     %li 561730 Lawn care services (e.g., fertilizing, mowing, seeding, spraying)
-#     %li 561730 Maintenance of plants and shrubs in buildings

