.row
  .col-sm-6
    %h2 
      Phone
      %p= link_to site.phone, "tel:#{site.phone}"

  .col-sm-6
    %h2 
      Email
      %p= email_form




/ .alert.alert-success
/   %h4 When you contact us please include:
/   %ul
/     - site.contact_form.fields.each do |field|
/       %li= field