.container#form-container-outer
  %h1.page-header 
    Conact Form
    %small fill out this form to contact us
  %form#frm-contact.form-horizontal
    #form-container
      /dynamic form goes here
    %button(type='submit' class='btn btn-primary col-sm-offset-3') Contact Us!