.container#form-container-outer
  %h3.page-header 
    Conact Form
    %small fill out this form to contact us
  %form#frm-contact.form-horizontal
    #form-container
    %button(type='submit' class='btn btn-primary col-sm-offset-3' style="display:none" id='btnSubmitContact') Contact Us!