---
title: Mini Facials Specials| European Facial
description: Call to schedule a Mini Facials and take advantage of our Daily Specials for any special event. Call 210-978-0622
---

%h1
  Specials

  %h3 Bodies in Alignment Welcomes Norma Perry

  %p Introductory Mini Facial Special $49.00
  
  %p
    Call 
    =click_to_call
    to make your Appointment today

  %h4 The Advanced European Facial:

  %ul
    %li Ultrasonic deep cleansing + Face-Neck & Shoulder
    %li Massage + Hydrating Mask + Vita-C Serum and
    %li Bio-Cell Rejuvenating moisturizer
    %li
      %b All THIS FOR $ 95.00


