---
title:  Certified Arborist | Call our Licensed Arborist 
description: Certified Arborist, George Potter works with his crew every day to ensure responsible tree maintenance, tree trimming and complete customer satisfaction for the San Antonio community. Call the tree expert today! 
keywords:  arborist, certified arborist, arborist, isa certified, licensed arborist 
---
%h1
  San Antonio Certified Arborist
  %small.text-muted George Potter

.row
  .col-md-6

    It's my responsibility and privilege as a certified arborist and environmentalist to help protect and preserve one of our Great Earth's most precious and vital natural resources, 
    %b 'Our Trees'. 

    I have dedicated my time to learn the skills to provide the best tree care for all our clients.
    A Healthy Tree is a Happy Tree and far less susceptible to diseases and pathogens when properly cared for. 

    %p
    What separates me from my competition is that I work with my crew everyday to accomplish proper pruning and trimming techniques. There is always a certified arborist working on every project (me) because I don't feel comfortable just dropping 4 guys off and hoping the job turns out right. I am at every job to supervise that every cut is made properly, every wound is properly sealed and everything is done in the highest standard set by (ANSI) and the (ISA). We sanitize all of our equipment before every project, clean up and haul off all debris. 

    %p
    =click_to_call 
    follows the best practices plus the newest techniques to accomplish a safe and cost-effective job.  Regardless of job size, tree size or quantity, each tree is maintained  with the same quality of expertise and my customers love me for that. 


    %h2 Heartwood's Service Commitment
    
    Our service commitment is serious; we care about our environment! No tree hacking, no tree topping, no magic, just putting our skills to use and the admiration for our greenery. 
    
    %p
    
    Do not trust the health and well being of your tree's to just anyone. Call a trained professional arborist. I'm at your service! Request your free consultation today. 
    %p
 
  .col-md-6
    = image_tag('index/george.jpg', class: 'img-fluid rounded')
    %br
      /= image_tag('gallery/arborist/isa_certified.jpg', class: 'img-fluid rounded')
    %h4 Accreditations:

    %ul
      %li 
        ISA Certified Arborist
        = link_to 'http://www.isa-arbor.com/', 'http://www.isa-arbor.com/', target: :_blank
      %li Member of Texas Chapter of ISA (International Society Arboriculture)
      %li 
        As an Arborist, I follow the standards set by the Tree Care Industry Association, 
        = link_to "TCIA.", "http://tcia.org/TCIA/BUSINESS/ANSI_A300_Standards_/TCIA/BUSINESS/A300_Standards/A300_Standards.aspx?hkey=202ff566-4364-4686-b7c1-2a365af59669", target: :_blank
    %blockquote.blockquote
      Everyone needs a Tree Company they can rely on and we'll definitely make you a part of our "Heartwood Tree Family" circle. Our customer satisfaction is an important goal in our process and commitment.
      %footer.blockquote-footer George Potter
