---
title: Certified Arborist 
description: San Antonio Certified Arborist providing professional free tree diagnoses for all South Texas. 
---
%h1.page-header 
  Certified Arborist
  %small George Potter

.row
  .col-md-6

    It's my responsibility and privilege as a certified arborist and environmentalist to help protect and preserve one of our Great Earth's most precious and vital natural resources 'Our Trees'. A Healthy Tree is a Happy Tree and far less susceptible to disease and pathogens when properly cared for. Our service commitment is serious; we care about our environment! 



    %h4 Accreditations:
    %ul
      %li ISA Certified Arborist
      %li Member of Texas Chapter of ISA (International Society Arboriculture)
      %li Tree Maintenance License TL-924667 with City of San Antonio
    %blockquote 
      Everyone needs a Tree Service Company they can rely on and we'll definitely make you a part of our "Heartwood Tree Family" circle. Our customer satisfaction is an important goal in our process and commitment. 
      %footer by George Potter
      

  .col-md-6
    = image_tag('index/george.jpg', class: 'img-responsive img-circle')
