= site_partial('carousel')

.container.marketing
  .row
    .col-lg-6
      %h1.page-header Welcome to Heartwood Tree Services
      /%h4 The default website for this installation
      %p 
        Welcome to Heartwood Tree Service & Solutions! Your Greater San Antonio Tree Service company providing the highest quality of workmanship for San Antonio, Boerne, Bandera and Helotes, Texas for tree trimming, tree pruning, tree removals, tree feeding, stump removal and land clearing. Our goal at Heartwood Tree Service is to preserve and protect our South Texas trees. We look forward to maintaining your trees on a long-term basis and are devoted to building strong customer relationships with commercial businesses and homeowners in South Texas. For best trimming results, hire the best tree trimmers in San Antonio, call 
        = click_to_call
        \.

      %h4 George Potter, Certified Arborist
      
      Owner Certified Arborist It’s my responsibility and privilege as a certified arborist and environmentalist to help protect and preserve one of our Great Earth's most precious and vital natural resources “Our Trees“. A Healthy Tree is a Happy Tree and far less susceptible to disease and pathogens when properly cared for. Our service commitment is serious; we care about our environment! 10% of Winter Tree Care.
      
      %h4 Accreditations:
      %ul
        %li ISA Certified Arborist
        %li Member of Texas Chapter of ISA (International Society Arboriculture)
        %li Tree Maintenance License TL-924667 with City of San Antonio
      
      %h4 Tree Service Qualifications

      %ul
        %li Adhere to all standards and codes set by the ISA and Tree Care Industry Association and your neighborhood ordinance.
        %li I work alongside my crew everyday to insure customer satisfaction and proper trimming techniques are followed.
        %li Heartwood is insured to protect your property
        %li All Comprehensive tree trimming, tree removal, land clearing, stump removal work guaranteed
        %li Inexpensive, prompt service and quality work
        %li Fifteen years of experience, strong attention to detail, dependable and reliable for all your tree care needs.
        %li Daily Free Tree Estimates and property walkthroughs for Residential and Commercial Tree Service
      %blockquote 
        Everyone needs a Tree Service Company they can rely on and we'll definitely make you a part of our "Heartwood Tree Family" circle. Our customer satisfaction is an important goal in our process and commitment. 
        %footer by George Potter
    .col-lg-6
      = image_tag('index/truck.jpg', class: 'img-responsive img-circle')
      %hr
      = image_tag('index/george.jpg', class: 'img-responsive img-circle')

