---
title: About Heartwood Tree Service | San Antonio Texas
description: Tree service in San Antonio Texas for tree trimming, tree removal, tree diagnose and treatment.  ISA Certified Arborist on every project.  For the best tree service in SA, call Heartwood Tree Service.  
keywords:  tree service, tree trimming, tree removal, stump removal, ball moss removal, tree diagnose, tree treatment.
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

.row
  .col-md-8

    %h1 
      About Heartwood 
      %small.text-muted Tree Service
    %p 
      %b Heartwood Tree Service 
      provides the highest quality tree trimming, tree removals, tree diagnose and tree preservation treatments in San Antonio, Boerne, and Schertz, Texas. 
    %p George Potter, owner, works daily with crews to protect and preserve our South Texas trees to make them healthy and happy. We at Heartwood have earned a 5 star customer service satisfaction rating because of our attention to detail. We sanitize our equipment everyday before we begin each project as to not spread disease from one tree to the other. We spray all wounds on Oaks when finished. Oak wilt is a serious issue here in our area and it’s imperative that we take all precautions necessary to prevent spread of fungus that could comprise our communities.  
    %p 
      Depend on the best, affordable tree service in San Antonio, call our office at 
      %b= site[:phone]
      \.

    %h2
      Free Estimates
      %small.text-muted 

    %p
      I personally walk your property and evaluate each tree to determine the scope of work, any tree diseases or concerns, or job deadlines to provide you with an accurate free estimate. Upon your confirmation for the estimate, we will schedule the work to accommodate your schedule and give you plenty of time to take care of your schedule and secure your pets. 
       

    %h2 Why hire Heartwood?  
    %ul
      %li Adhere to all standards and codes set by the ISA and Tree Care Industry Association and your neighborhood ordinance.
      %li Heartwood is insured to protect your property.
      %li All work is guaranteed.
      %li Prompt service, professional work at an affordable price. 
      %li Twenty years of experience, strong attention to detail, dependable and reliable for all your tree care needs.
      %li Your local small business tree services in San Antonio. 

         
  .col-md-4
    = image_tag('index/crew.jpg', class: 'img-fluid rounded')

-# - content_for 'add_to_head' do
-#   :css
-#     body.index{ padding-top: 50px; }