- if carousel.present?
  - content_for :carousel, site_partial('carousel') 


.row
  .col-md-6
    %h1.page-header Welcome to Heartwood Tree Services
    /%h4 The default website for this installation
    %p 
      Welcome to Heartwood Tree Service & Solutions! Your Greater San Antonio Tree Service company providing the highest quality of workmanship for San Antonio, Boerne, Bandera and Helotes, Texas for tree trimming, tree pruning, tree removals, tree feeding, stump removal and land clearing. Our goal at Heartwood Tree Service is to preserve and protect our South Texas trees. We look forward to maintaining your trees on a long-term basis and are devoted to building strong customer relationships with commercial businesses and homeowners in South Texas. For best trimming results, hire the best tree trimmers in San Antonio, call 
      = click_to_call
      \.


    
    %h4 Benefits of hiring Heartwood

    %ul
      %li Adhere to all standards and codes set by the ISA and Tree Care Industry Association and your neighborhood ordinance.
      %li I work alongside my crew everyday to ensure customer satisfaction and proper trimming techniques are followed.
      %li Heartwood is insured to protect your property
      %li All Comprehensive tree trimming, tree removal, land clearing, stump removal work guaranteed
      %li Affordable, prompt service and quality work
      %li Fifteen years of experience, strong attention to detail, dependable and reliable for all your tree care needs.
      %li Daily Free Tree Estimates and property walkthroughs for Residential and Commercial Tree Service

  .col-md-6
    %p
      %br
    = image_tag('index/truck.jpg', class: 'img-responsive img-circle', style: 'width: 100%')
