---
title: Tree Service | Heartwood Tree Service | San Antonio, Tx
description: Heartwood specializes in total tree service to include different levels of trimming, ball moss removal and stump removal.  Insured.  Get your free estimate today!
keywords:  tree service, tree trimming, tree removal, stump removal, ball moss removal
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

.row
  .col-md-12

    %h1 San Antonio Tree Services 
    %p
      = click_to_call 
      was established with a personal mission of providing the highest quality tree care, tree trimming, and tree removing services with the best customer service in San Antonio, Boerne, and Schertz, Texas. The value provided to our neighborhood tree owners is to begin with a free estimate and provide a reasonable cost with a commitment to professionally complete the job. Your property will be left clean, your trees professionally well maintained and you’ll be completely satisfied when you call Heartwood Tree Service. 
    %p
      Our crews are experienced, knowledgeable and they love trees. Heartwood’s goal is to protect, maintain, and restore Texas trees back to the beauty and aesthetics that each tree needs to remain healthy. 
    %h3 Why hire Heartwood? 
    %ul
      %li Heartwood is insured to protect your property. 
      %li All work is guaranteed. 
      %li Prompt service, professional work at an affordable price. 
      %li Your local small business tree services in San Antonio. 
  
