---
title: Lot and Land clearning
---
%h1.page-header
  Clearing
  %small lot and land 
%p
  Heartwood Tree Service &amp; Solutions specializes in Land Clearing for all South Texas Counties and Cities for Excavation Work, New Site Construction Development and Site Preparation clearing. We work closely with Homeowners or City Project Managers or Ranch owners to remove only the trees that have been tagged and excavate the acreage required for development. We acquire city permits and protect our greenery, native trees, vegetation and grasslands keeping our environment safer and more enjoyable. Heartwood carefully bulldozes and clears shrubs, trash trees, underbrush, grass, weeds and hauls off-site all debris completing the job with our superior cleanup services. Daily service rates are available for your convenience. We are fully equipped for any construction size job: Chipper Truck, Bobcat and Trailers to haul debris from job-site.

%ul
  %li Residential Lot Clearing
  %li Site preparation for new housing, new subdivisions, ranch homes, unfinished clearing from construction builder
  %li Clear all underbrush, unwanted & dead trees and haul debris
  %li Tree Clearing for a new roads, driveways, sheds or any other building
  %li Commercial Land Clearing
  %li Site preparation for Business Offices, Hotels, Apartment development
  %li Site Clearing for a new roads or driveways
  %li Cleanup after catastrophes: storms, high winds, erosions
  %li Construction Grading, leveling and clearing NAICS Code 561730
  %li Tree Maintenance License TL-924667

.row
  .col-sm-6
    %h3 Before Clearing
    = image_tag 'land-clearing/clearing.jpg', class: 'img-responsive img-rounded', title: "Lot - before clearing", "data-toggle": :tooltip
  .col-sm-6
    %h3 After Clearing
    = image_tag 'land-clearing/after-clearing.jpg', class: 'img-responsive img-rounded', title: "After clearing", "data-toggle": :tooltip    