---
title: Lot and Land clearing
description: Heartwood offers Land and Lot Clearing, brush removal and existing site preparations any size of acreage or small lots. 
---
%h1.page-header
  Clearing
  %small lot and land 
%p
  Heartwood Tree Service &amp; Solutions specializes in Land and Lot clearing for all South Texas Counties and Cities for New Site Construction and Development and site preparation. We work closely with Homeowners or City Project Managers or Ranch owners to remove only the trees that have been tagged and prepare the acreage required for development. We acquire city permits and protect our greenery, native trees, vegetation and grasslands keeping our environment safer and more enjoyable. Heartwood carefully bulldozes and clears shrubs, trash trees, underbrush, grass, weeds and hauls off-site all debris completing the job with our superior cleanup services. Daily service rates are available for your convenience. We are fully equipped for any job size and type with Chipper Truck, Bobcat and Trailers used to haul debris from job-site.

%ul
  %li Residential Lot Clearing
  %li Site preparation for new housing, new subdivisions, ranch homes, unfinished clearing from construction builder
  %li Clear all underbrush, unwanted & dead trees and haul debris
  %li Tree Clearing for a new roads, driveways, sheds or any other building
  %li Commercial Land Clearing
  %li Site preparation for Business Offices, Hotels, Apartment development
  %li Site Clearing for a new roads or driveways
  %li Cleanup after catastrophes: storms, high winds, erosions
  %li Construction Grading, leveling and clearing NAICS Code 561730
 
.row
  .col-sm-6
    %h3 Before Clearing
    = image_tag 'land-clearing/clearing.jpg', class: 'img-responsive img-rounded', title: "Lot - before clearing", "data-toggle": :tooltip
  .col-sm-6
    %h3 After Clearing
    = image_tag 'land-clearing/after-clearing.jpg', class: 'img-responsive img-rounded', title: "After clearing", "data-toggle": :tooltip    