---
title: Oak Wilt

---
  
.row
  .col-lg-12
    %h1.page-header
      About Oak Wilt
    
    %p
      As a resident of San Antonio and a concerned Arborist, I would like to educate you on Oak Wilt and how it is transmitted. With the threat of Oak Wilt so close, it is imperative that we are proactive and take the steps necessary to protect and preserve the beautiful Oaks in our community. Oak Wilt is one of the most destructive tree diseases in South Texas. Oak Wilt is caused by a fungus that is technically called Ceratocystis fagacearum. This Fungus invades and colonizes the water conductive vessels and tissues of our Oaks that ultimately results in the trees demise.
    %h3 Oak Wilt is spread two ways:
    %ol
      %li Sap feeding beetles carry these fungus spores on their bodies and look for open wounds in our Oaks that is called Overland Transmission. After a tree has been infected and dies due to Oak Wilt, fungal spore mats form under the bark. The fungal spore mat grows and expands causing the bark to crack and break. These spores emit an odor that attracts the Oak Wilt Beetle. The beetle then enters the spore mat to feed and spores stick to the insect. The beetle then travels to other trees to feed on fresh wounds emitting sap and thus infecting healthy Oaks. For these reasons, it is imperative that we seal all open wounds as we Trim and Prune our Texas Oak Trees.
      %li
        Root System transmission is once a tree has been exposed and the tree is infected by the disease. Oak Wilt also spreads through the interconnected root system and can destroy large areas of our Oak. Meaning every tree root system is interconnected with an infected tree will also become infected and thus kills every Oak Tree in its path.
    %h3 Prevention Oak Wilt
    
    %p
      First, it is important to sanitize all equipment before tree trimming. I always spray all my tools before every job to avoid the possibility of cross contamination.

    %p
      Second, immediately seal all wounds on Oaks after Tree Trimming. This is not an option! If you have a company perform Tree Service on your property and are not sealing their wounds they should be reported.

    %p
      Third, Prune and Trim all limbs and branches back to their original point of origin as to avoid leaving any stubs. If stubs are left on our trees they cannot properly compartmentalize or heal themselves properly; the remaining stub dies off attracting all kinds of pathogens and insects that we do not want on our trees.

    %p If you have any questions or concerns, please feel free to contact me.        











