---
title:   Tree Removal Service | Heartwood Tree Service & Solutions
keywords:  tree removal,  tree extraction, damaged tree removal, dangerous tree removal, diseased tree removal, heartwood tree removal, tree removal san antonio, high risk tree removal.
description: Heartwood Tree Removal Service is fully equipped to finalize your tree removal for all damaged, dangerous, weak or diseases trees to prevent structural damage. Call our San Antonio office for an appointment. 
---



.row
  .col-lg-8
    %h1 
      Tree Removal Services
      %small.text-muted by professional arborist


    %p 
      As an arborist, my goal is to save a tree but there are occasions where the only option is to tag a tree as hazardous to the property and dangerous to the property owners and needs to be removed.  Our tree removal team is ready and equipped to finalize all tree removals for high risk trees, weak trees, diseased trees, damaged trees and unwanted trees in the San Antonio metro area. Heartwood's equipment, technique and work practice used for a tree extraction is professionally done following all standards and safety rules.

    %p
      Our tree removal experts will evaluate the tree's structure, hazardous limbs, broken or fallen branches to be extracted with care to ensure a successful  extraction without any damages to property. All dead wood is removed from the premises and debris is hauled off to beautify your premises and make it safely accessible.  Branches and limbs are cut off carefully as necessary to make it a safe removal process. 


    %h3 What is a risk or dangerous tree?
     
    %ul
      %li Uprooted, fallen trees from storms, hail and high winds that may cause injury to property owners or others. 
      %li Trees that are too close to electrical wires and may cause electrical issues in neighborhoods during storms.  
      %li Trees that have roots causing plumbing problems, cracking sidewalks or leaning into another property. 


    %h3 What types of trees are identified as "unwanted trees"?
    %ul
      %li 
        The Hackberry tree is considered a trash trees by most; although its resistance to drought and poor soil is great, the Hackberry is prominent to getting an aphid-like jumping insect, dropping leaves, getting a dark fungus on bark, powdery mildew and possible mites.
      %li
        Any rotten trees that may be an attraction for termites or other pests or fungus should be removed to avoid any distribution of problems to your healthy trees, home or commercial building.  
      %li
        An unwanted tree may just be a tree that is in the way for a new structure to be build or rebuild such as a rows of trees along side of the fence line or property lines causing an obstruction. 
      %li 
        At times, homeowners or commercial owners prefer to keep all oaks and extract all elms, hackberries and cedars if there is a potential foreseen problem.   

    %h3 What is considered a weak and diseased trees? 
    %ul
      %li
        A weak and diseased tree is a tree with a fungus or mildew with a hollow and decayed trunk or just too old to recover and is declining in health and will not survive.  
      %li
        Trees with a very prominent disease such as stem canker, yellow spotty leafs, brown leafs, dropping leafs prematurely, defoliation or holes in the trunk.  These types of problems if diagnosed by an arborist on time may lengthen the health of the tree.  

    %h3 Do I  have damaging trees in my property?
    %ul
      %li Depending on the size, age, and location roots may go underneath structures, damaging pipes and other utility lines.
      %li Trees that are about to fall on a structure.
      %li Trees that are too close to a building that will continuously cause issues with critters or gutter or structural roof problems.  
    %blockquote
      As owner of Heartwood Tree Service & Solutions, I will help you to make the right decisions for any questionable or potential tree removal in your existing or new property. To avoid future damage to your trees, be sure to schedule yearly tree maintenance to save money.  If you have any doubts about a certain tree, call us before the problem worsens.        
    %p 
      Call 
      = click_to_call
      at 210.585.2560 for your free estimate.

  .col-lg-4
    = image_tag('tree-removal/tree-on-fence.jpg', class: 'img-fluid rounded', title: 'Tree On Fence', "data-toggle": :tooltip)
    %hr
    = image_tag('tree-removal/tree.jpg', class: 'img-fluid rounded', title: 'Tree removed', "data-toggle": :tooltip)    