---
title:   Tree Removal Service | Heartwood Tree Service 
keywords:  tree removal,  tree extraction, damaged tree removal, dangerous tree removal, diseased tree removal, heartwood tree removal, tree removal san antonio, high risk tree removal.
description: Heartwood Tree Removal Service is fully equipped to finalize your tree removal for all damaged, dangerous, weak or diseases trees to prevent structural damage. Call our San Antonio office for an appointment. 
---



.row
  .col-lg-8
    %h1 Tree Removals 

    %p 
      %b Why are trees removed?  
      As an arborist, my goal is to save a tree, but there are occasions where the only option is to tag a tree as hazardous to the property and needs to be removed. 

    %h3 What precautions are taken on a removal?

    %p Our tree removal experts will evaluate the structure of the tree, broken limbs or fallen branches to ensure a successful extraction without any damage to the property.  All debris is removed from the site, keeping your property safely accessible.   

    %h3 How can I identify a weak or diseased tree?  

    %p A declining tree is a weak or diseased tree.  It can usually be identified because the tree starts having growth problems, prematurely dropping leaves, or the leaves start looking yellowish or brownish in color.   Also look for hollow holes or sticky sap that should not be there.  These types of problems if diagnosed early may lengthen the health of the tree and hopefully will be able to be fertilized and saved.  

    %h3  What is a risk or dangerous tree?
    %ul
      %li Uprooted, fallen trees from storms, hail and high winds that may cause injury to property owners or others.
      %li  Trees that are too close to electrical wires and may cause electrical issues in neighborhoods during storms.
      %li Trees that have roots causing plumbing problems, cracking sidewalks or leaning into another property.
    
    %h3 What types of tree is identified as "unwanted trees"?

    %ul 
      %li The Hackberry tree is considered a trash trees by most; although its resistance to drought and poor soil is great. The Hackberry is known for getting a dark fungus on its bark, consistently dropping its leaves, and prone to getting termites.
      %li Any tree that is decayed, has termites and fungi and will not recover with treatment.
      %li An unwanted tree may just be a tree that is in the way for building a new structure. 

  .col-lg-4
    -# = image_tag('tree-removal/tree-on-fence.jpg', class: 'img-fluid rounded', title: 'Tree On Fence', "data-toggle": :tooltip)
    -# %hr
    = image_tag('tree-removal/tree.jpg', class: 'img-fluid rounded', title: 'Tree removed', "data-toggle": :tooltip)    