---
title:   Tree Removal Service | Heartwood Tree Service 
keywords:  tree removal,  tree extraction, damaged tree removal, dangerous tree removal, diseased tree removal, heartwood tree removal, tree removal san antonio, high risk tree removal.
description: Heartwood Tree Removal Service is fully equipped to finalize your tree removal for all damaged, dangerous, weak or diseases trees to prevent structural damage. Call our San Antonio office for an appointment. 
---



.row
  .col-lg-8
    %h1 Tree Removals 

    %p 
      Why are trees removed?  
      Our objective is to save trees - unfortunately, in some cases, the only option is to remove an unsafe tree from your property.  
      Specific examples of tree removal are compromised trees that will not recover or trees that interfere with buildings. 
      On other occasions, the city will contact home and business owners because a tree is too close to the power lines.  
    .alert.alert-warning(role='info')
      %h4
        Tree removals are dangerous - 
        %i please do not attempt to do it yourself.
    
    %h3 What precautions are taken on a removal?

    %p Our tree removal experts will evaluate the structure of the tree, broken limbs or fallen branches to ensure a successful extraction without any damage to the property.  
    All debris is removed from the site, keeping your property safe and accessible.   

    %h3  What is a risk or dangerous tree?
    %ul
      %li Uprooted, fallen trees from storms, hail and high winds that may cause injury to property owners or others.
      %li  Trees that are too close to electrical wires and may cause electrical issues in neighborhoods during storms.
      %li Trees that have roots causing plumbing problems, cracking sidewalks or leaning into another property.
    
  .col-lg-4
    -# = image_tag('tree-removal/tree-on-fence.jpg', class: 'img-fluid rounded', title: 'Tree On Fence', "data-toggle": :tooltip)
    -# %hr
    = image_tag('tree-removal/tree.jpg', class: 'img-fluid rounded', title: 'Tree removed', "data-toggle": :tooltip)    