---
title:  Tree Service in San Antonio | Heartwood Tree Service
description: The basic necessity for each tree is to professionally provide the appropriate care to preserve and protect its greenery.  Heartwood will provide a detailed tree evaluation. 
keywords: tree service, tree trimming, tree removal, tree pruning, stump removal
---


.row
  .col-md-12
    %h1 
      Tree service of San Antonio  
    %p 
      = click_to_call
      's goal is to provide comprehensive tree services in San Antonio.  
      We personally walk the property with you and evaluate each tree to determine the scope of work to provide you with an accurate free estimate.  
      Check out our list of tree services and give us a call.  
.row 
  .col-lg-6
    .card
      %img.card-img-top{:alt => "Card image", :src => image_path("./gallery/tree-trimming/after-trimming2.jpg")}/
      .card-body
        %h4.card-title Tree Trimming
        %p.card-text At minimum, to keep your trees healthy, keep them trimmed.
        %a.btn.btn-primary.stretched-link{:href => "/content/heartwood/trimming"} See more ...
        
  .col-lg-6
    .card
      %img.card-img-top{:alt => "Card image", :src => image_path("./tree-removal/up-in-tree-for-removal.jpg")}/
      .card-body
        %h4.card-title Tree Removal
        %p.card-text Sometimes, removing a tree is unavoidable.
        %a.btn.btn-primary.stretched-link{:href => "/content/heartwood/removal"} See more ...     
.row
  .col-md-12
    %h3 Tree Maintenance Services we offer:
    %ol
      %li Trimming
      %li Pruning
      %li Ball moss remmoval
      %li Palm tree removal
      %li Roofline clearance
      %li= link_to "Stump Removal", '/content/heartwood/stump-removal.html' 
    