.container
  
  .row
    .col-lg-10
      %h1.page-header
        Stump Removal Services
      
      %p
        Heartwood provides professional and efficient tree stump removal and grinding services for Great San Antonio. Tree Stumps vary in size and shapes for different tree types just like its original tree size; the cost depends on the location of the trunk or stump and the dangers of removing or grinding it. Before we begin any stump removal, we carefully evaluate the area for electrical lines, water pipes, gas lines, house structures and other objects to avoid major problems. Heartwood practices "safety first for any project".

        
      %h3 Types of Stump Removals
      %p
        There are two types of tree removals; therefore, there are two types of stump removals. The first is ground-to-level which means we leave the trunk as high as you request or cut the tree to the level of the ground. The second is a total stump removal by grinding the stump as you see in the picture below. The most effective is grinding the stump to avoid future insect problems and expense.
      %p
        Note: Leaving a Stump (Ground to level) - This type of removal is usually a possible target for termite and ant infestations endangering the rest of the property, trees and buildings. At the time of our free estimate, I will make the best suggestion for your property depending on the location of the tree.
      %h3 Why hire a Certified Arborist?
      %ul
        %li Experience and knowledge for the right tree removal process
        %li Too dangerous to place yourself and family at the risk in doing it yourself
        %li Professional job performed to maintain property looks and value
        %li We dispose and pick up all debris leaving your property clean       
    .col-lg-2
      = site_img('stump-removal/grinder.jpg', class: 'img-responsive img-rounded')
      %hr
      = site_img('stump-removal/stump.jpg', class: 'img-responsive img-rounded')    





