---
title: Stump Removal | Stump Grinding 
description: For peace of mind call Heartwood to get the job done safely and accurately for all stump removals and stump grinding jobs in San Antonio Texas.
---

.row
  .col-lg-10
    %h1
      Stump Removal Services
    
    %p
      Heartwood provides professional and efficient tree stump removal and grinding services for Great San Antonio. Tree Stumps vary in size and shapes for different tree types just like its original tree size; the cost depends on the location of the trunk or stump and the dangers of removing or grinding it. Before we begin any stump removal, we carefully evaluate the area for electrical lines, water pipes, gas lines, house structures and other objects to avoid major problems. Heartwood practices "safety first for any project".

      
    %h3 Types of Stump Removals
    %p
      There are two types of tree removals. The first is ground-to-level which means we leave the trunk as high as you request or cut the tree to the level of the ground. The second is a total removal with stump and grinding as shown in the picture below. The most effective is grinding the stump to avoid future insect problems, unwanted regrowth and to avoid further expense.
    
    %h3 Why hire a Professional?
    %ul
      %li Experience and knowledge for the right tree removal process
      %li Too dangerous to place yourself and family at the risk in doing it yourself
      %li Avoid future expense by having it done twice
      %li Precise job performance to maintain property value 
      %li We dispose and pick up all debris leaving your property clean     
    
    %a.btn.btn-primary.btn-block.btn-lg{role: :button, href: "/contact"} Schedule your free consultation
  
  .col-lg-2
    = image_tag('stump-removal/grinder.jpg', class: 'img-fluid rounded')
    %hr
    = image_tag('stump-removal/stump.jpg', class: 'img-fluid rounded')    





