---
title: Tree Planting
description: Keep our environment green and beautiful by replacing all damaaged or unwanted trees. 

---  

.row
  .col-lg-8
    %h1
      Tree Planting
      %small.text-muted  - always worth your investment! 
    
    %p
      Start planning your tree planting projects and we'll work with you to select the best place to plant your trees to provide shade, save energy and make your yard beautiful. George Potter will redesign any lawn by planting or transplanting the right types of trees in strategic places for property owner to enjoy. Landscaping your property is critical to keeping a beautiful design and for keeping your property value competitive for when you're ready to sell.

    %p
      Fall, late winter or early spring is the best time to complete all your tree planting projects. We'll make sure your soil is in good conditions before any job is started. 
      Call 
      = click_to_call 
      at 210.585.2560 to take advantage of our free estimates!

  
  .col-lg-4
    = image_tag('tree-planting/planting.jpg', class: 'img-fluid rounded')




