---
title: Tree Fertilization| Deep Root Feeding
description: Minimize tree damage by deep root feeding to prevent Fungus, Molds, Parasites and other Infectious Tree diseases. 

---

.row
  .col-lg-12
    %h1
      Tree Fertilization
    %h3 Deep Tree Root Feeding
    %p
      Deep Root Feeding is the process of drilling a 4-6 inch hole around the drip line of the tree canopy. We Insert a slow release fertilizer (18-6-12) in holes feeding the finer absorbing feeder roots of tree. This process will fertilize your trees for winter to prevent fungus, insect infestation, tree damage, tree disease, rotten wood and much more. In Texas, we love our Oak and Elm trees, but weakened trees are more susceptible to getting ball moss, rot, different types of canker, fungus and wilt which spreads and endangers the health of of our older trees and may spread to neighbors' trees making it difficult to end the spreading disease.


    %h3 Tree Fertilization
    %p 
      Your trees need proper nutrients, sunlight and water to maintain it's health. Giving your tree the right amount of nutrients is critical depending on it's growth stage and type. First step, is to recognize the symptom and avoid spraying shelve fertilizers that may damage or hurt your trees. Does your trees have yellow leaves, brown leaves, dry leaves, no leaves or is the bark cracking or falling? George Potter, professional certified arborist will give you a free tree diagnose and advice you on how to keep your trees nourished for the right natural nutrients to maintain healthy limbs, branches, roots, its leaves, its buds and its flowers at any stage growth.
    %p Sick trees needing feeding Injections          



.row
  .col-lg-6
    %h3 "Are your Trees lacking Nutrients?"
    = image_tag('tree-fertilization/micro-injection-before.jpg', class: 'img-fluid rounded')
  .col-lg-6
    %h3 Tree Feeding & Treatment
    = image_tag('tree-fertilization/micro-injections-after.jpg', class: 'img-fluid rounded')




