.container
  
  .row
    .col-lg-12
      %h1.page-header
        Tree Preservation
      %h3 What is Tree Preservation?
      %p
        Tree Preservation is the process of taking a tree(s) that is in a bad location or has been damaged by lighting, storms or by strong winds that now requires some type of reinforcement to keep its roots, branches and limbs in place for continued growth. 
      %p
        Depending on the type of damage; some trees may be preserved by bolting and cabling, others may be preserved by adding more soil or by simply feeding. 
      %p
        Regular tree maintenance is always a recommendation by any arborist as a precaution. Heartwood recommends saving all tree species to maintain and enhance the beauty of our historic San Antonio Texas. 
      %p
        Preserving existing trees and planting new ones add value to our landscape and keeps our environment safer. 

      %blockquote
        Below is an example of a beautiful Oak tree that Heartwood's crew preserved by clearing all brush, grass, cedar and other trees that were smothering its life and health with no proper sunlight and breathing space.   
        %footer
          George Potter     
  .row
    .col-lg-6

      %h3 Before Preservation      
      = image_tag('tree-preservation/before-preservation.jpg', class: 'img-responsive img-rounded')
    .col-lg-6
      %h3 After Preservation

      = image_tag('tree-preservation/after-preservation.jpg', class: 'img-responsive img-rounded')




