
.container
  .row
    .col-lg-8
      %h1.page-header
        Tree Trimming
      
      %p
        In San Antonio and the Hill Country, having your trees trimmed properly 
        during winter seasons is just as critical as in summer. During cold 
        season, limbs and branches break easier and unhealthy trees are more 
        susceptible of falling into your premises. You can still request to trim 
        and prune all trees (except spring blooming trees) and start to plant 
        new trees from November to March. Our crew maintains approximately 
        anywhere from five to twenty Texas trees daily depending on tree size, 
        job size and weather. We trim, cut and prune Mesquite trees, Oak Trees, 
        Hackberry Trees, Elms to their beautiful healthy stage; paint and seal all wounds on Oaks to prevent 
        = link_to "Oak Wilt", "/content/heartwood/oak-wilt"
        from spreading. Approximately 75% of our jobs are tree trimming and pruning; however, yearly maintenance extends to cabling and bolting fallen or leaning trees and diagnosing sick trees. Heartwood Tree Company provides tree trimming for areas in: San Antonio, Boerne, Helotes, Comfort, Hondo, Bandera, Devine and other surrounding metro cities.
      %h3 Free Estimates
      %p
        I personally evaluate each tree and walk the property with property owners to determine the scoop of work, tree issues and job deadlines and provide you with a free estimate.
      %p
        Call 210-585-2560 to hire 
        = click_to_call
        \.
      %h3 What is Tree Trimming:
      %ul
        %li Precise overall Tree Trimming & Pruning Services, not to exceed a certain percentage of foliage.
        %li Tree Pruning allows more light for growth by cutting from the inside out all broken, crossed branches
        %li Reshaping trees by lifting and raising canopy for tree growth and support and removing dead branches and limbs
        %li Cut broken limb/branches from storm or winter damage
        %li Power line clearance to prevent power outage and for safety in compliance with city ordinance
        %li Roof Line Clearance to prevent branches or limbs from harming house roof or breaking windows
        %li Proper Weight Distribution Trimming
        %li Ball moss removal to prevent from spreading
        %li Haul all debris off-site

      %h3 Benefits of Tree Trimming:
      %ul
        %li Improve health of trees
        %li Improve the beauty of the trees by removing ball moss
        %li Prevent home attic access
        %li Comply with City Ordinances


    .col-lg-4
      %h4 Before trimming
      = image_tag('tree-trimming/before-trim.jpg', class: 'img-responsive img-rounded')
      %h4 After trimming
      = image_tag('tree-trimming/after-trim.jpg', class: 'img-responsive img-rounded')            