.container
  
  .row
    .col-lg-8
      %h1.page-header
        Tree Removal
      
      %p
        Tree Extraction Services should be done best by an insured company due to the hazards of doing it yourself or hiring an uninsured company which may result in extensive damage to your property. Before removing a tree, our tree surgeons make sure all underground utilities (plumbing, sewer, gas or other utility lines) are not proximate to the working area. Depending on the size, age, and tree location its root may go underneath the structures damaging pipes and other utility lines. Trees along the fence line may be a peril to other properties or utility lines. Sections of the fence may temporarily be abstracted to perform a tree removal job. As a property owner, you'll make the decision as to the type of tree removal that best fits your budget; as your Arborist, I will also advise you if there may be any potential hazards of leaving a a stump. Heartwood Tree Removal Services adheres to all San Antonio guidelines and practices safety to protect our employees and our customers' property. Call today 210.585.2560 for your free tree removal estimates.
        
      %h3 Common Removal Services
      %ul
        %li Fallen Trees - We provide our clients with a completed estimate for insurance claim purposes if the tree fell on a structure
        %li Storm, hail, wind damaged trees - Emergency tree removal services available
        %li Dead trees, unwanted trees or sick trees or trees rapidly declining in health
        %li Rows of trees along side of the fence line or property lines causing problems
        %li Trees blocking a structure or trees that need to be cut down for new construction
        %li Trees close to electrical wires
        %li Trees to clear for site building
    .col-lg-4
      = image_tag('tree-removal/before-removal.jpg', class: 'img-responsive img-rounded')
      %hr
      = image_tag('tree-removal/after-removal.jpg', class: 'img-responsive img-rounded')    