---
title: Tree Removal | Stump Removal Services
description: Heartwood Tree Service is fully equipped to finalize your tree removal process for all dangerous, damaged or diseases trees to prevent structural damage. 

---



.row
  .col-lg-8
    %h1.page-header
      Tree Removal
    
    %p

      Tree Removal Services should be performed by an insured company due to the hazards of doing it yourself or hiring an uninsured company which may result in extensive damage to your property. Before any removal, our tree surgeons make sure all underground utilities (plumbing, sewer, gas or other utility lines) are not close to the working area. Depending on the size, age, and location its root may go underneath the structures damaging pipes and other utility lines. As your Arborist, I will always provide the consultation you need to make the right decisions.   
      Call 
      = click_to_call 
      at 210.585.2560 for your free tree removal estimates.
      
    %h3 Reasons for Tree Removals:
    %ul
      %li Fallen Trees - We provide our clients with a completed estimate for insurance claim purposes if the tree fell on a structure
      %li Storm, hail, wind damaged 
      %li Dead, unwanted or sick trees 
      %li Rows of trees along side of the fence line or property lines causing problems. Sections of the fence may temporarily be abstracted to perform the job.
      %li Blocking a building structure for access 
      %li Too close to electrical wires
      %li Preparation for site clearing for site preparation and reconstruction.
      %li Hollow, decayed or just too old to recover and are declining in health.
  .col-lg-4
    = image_tag('tree-removal/before-removal.jpg', class: 'img-responsive img-rounded', title: 'Before', "data-toggle": :tooltip)
    %hr
    = image_tag('tree-removal/after-removal.jpg', class: 'img-responsive img-rounded', title: 'After', "data-toggle": :tooltip)    