---
title: Tree Removal | Stump Removal Services
description: Heartwood Tree Service is fully equipped to finalize your tree removal process for all dangerous, damaged or diseases trees to prevent structural damage. 

---



.row
  .col-lg-8
    %h1.page-header
      Tree Removal
    
    %p Are your trees leaning from the after effects of high winds? An unbelievable amount of damage may occur during storms, high winds and hail when trees are weak or simply because the soil is saturated with water causing trees to uproot. 

    %p Be aware that not all damaged trees may result in an extraction.  Be sure to hire an  insured company due to the hazards of doing it yourself or hiring an uninsured company which may result in extensive damage to your property. Before any removal, our tree surgeons make sure all underground utilities (plumbing, sewer, gas or other utility lines) are not close to the working area. 

    %p Reasons for removing trees: 
    %ul
      %li Uprooted, fallen trees from storms, hail and high winds - If a tree fell at your property and caused structural damage; we will provide you pictures with a complete estimate for an insurance claim.
      %li Dead, unwanted or sick trees that have rotten or will not recover after being treated. 
      %li Rows of trees along side of the fence line or property lines causing problems. Sections of the fence may temporarily be abstracted to perform the job.
      %li Blocking a building structure for access
      %li Too close to electrical wires
      %li Hollow, decayed or just too old to recover and are declining in health.
      %li Depending on the size, age, and location roots may go underneath structures, damaging pipes and other utility lines. 

    %p As a qualified tree maintenance licensed company and arborist, I will always provide the  best advice to make the right decisions. How much does it cost to remove a tree? 

    %p 
      Call 
      = click_to_call
      at 210.585.2560 for your free estimate.

  .col-lg-4
    = image_tag('tree-removal/tree-on-fence.jpg', class: 'img-responsive img-rounded', title: 'Tree On Fence', "data-toggle": :tooltip)
    %hr
    = image_tag('tree-removal/tree.jpg', class: 'img-responsive img-rounded', title: 'Tree removed', "data-toggle": :tooltip)    