---
title:  Tree Trimming & Pruning  | Heartwood Tree Service & Solutions
description: Heartwood facilitates top rated tree trimming and pruning service for local businesses and residential areas in San Antonio.  Do your trees need trimming?
keywords: tree trimming, tree removal, tree pruning     
---
.row
  .col-lg-8
    %h1.page-header
      Tree Trimming
    
    %p
      Almost every tree In San Antonio and the Hill Country is in need of some type of tree trimming.  Tree maintenance is the first critical step to avoid broken limbs and branches during drought, or heavy storm, limbs touching roofs and being an easy access for critters.   Trimming also allows the trees to not be so heavy or thick that it can't receive proper light to remain healthy.  Unhealthy trees become a financial burden when they damage your property or your neighbors.  Maintenance should be done regularly by skilled professionals to avoid unhealthy tree structure and maintain proper growth. Always hire an experienced tree company to avoid injury or damage to yourself or your property. 



    %p
      Approximately 75% of our jobs are for general trimming and pruning for Oaks and Cedar Elms which are popular in the Texas area.  My staff is trained and experienced and we are proud to be helping our San Antonio community in keeping our environment clean. As a tree trimmer and arborist, at the end of a hard days work, it is rewarding to look at the beauty restored in every tree that we have proudly worked on.


      

    %p
      Call 210-585-2560 to hire and get on the schedule with 
      = click_to_call
      \.
    %h3 What is Tree Trimming:
    %ul
      %li Precise overall cleanup not to exceed a certain percentage of foliage.
      %li Pruning allows more light for growth by cutting from the inside out all broken and crossed branches.
      %li Reshaping by lifting and raising canopy for growth and support.
      %li Cut broken or dead limb/branches damaged by storms,i  winds or winter damage.
      %li Power line clearance to prevent power outage and for safety in compliance with city ordinance.
      %li Roof Line Clearance to prevent branches or limbs from harming house roof or breaking windows or provide an entrance for critters into attic.
      %li Proper Weight Distribution Trimming.
      %li Ball moss removal to prevent from spreading. 
      %li= link_to "Oak Wilt", "/content/heartwood/oak-wilt.html"
      %li We haul all debris off-site

  .col-lg-4
    %h4 Before trimming
    = image_tag('tree-trimming/before-trim.jpg', class: 'img-responsive img-rounded')
    %h4 After trimming
    = image_tag('tree-trimming/after-trim.jpg', class: 'img-responsive img-rounded')            