---
title:  Tree Trimming & Pruning  | Heartwood Tree Service
description: Heartwood facilitates top rated tree trimming and pruning service for local businesses and residential areas in San Antonio.  Call Heartwood for a free estimate 210-585-2560.
keywords: tree trimming, tree removal, tree pruning     
---
.row
  .col-lg-8
    %h1
      Tree Trimming by Heartwood
    
    %p 
      The benefit of properly trimming trees is to eliminate common problems that become more costly over time.  
      The improvement and restoration of the look, structure and stability of all trees is a priority.   
    %p
      %b
        %i Annual tree maintenance has proven to be a successful, recommended practice.  

    %h3 Reasons for trimming trees:
    %ul
      %li Raise canopies over streets, sidewalks, driveways, and fences.
      %li Trim back from roof lines, homes, buildings, and other structures.
      %li Provide central cleaning for proper aeration.  The wind should pass through trees and not resist against them. 
      %li Trim for proper weight distribution. 
      %li To remove dead limbs and branches.  Dead limbs left on trees attract insects such as carpenter ants and borer bugs that are not healthy for them. 
    
    %b= link_to "Tree removal", '/content/heartwood/removal' 
  .col-lg-4
    %h4 Before trimming
    = image_tag('tree-trimming/before-trim.jpg', class: 'img-fluid rounded')
    %h4 After trimming
    = image_tag('tree-trimming/after-trim.jpg', class: 'img-fluid rounded')            