---
title:  Tree Trimming & Pruning  | Heartwood Tree Service
description: Heartwood facilitates top rated tree trimming and pruning service for local businesses and residential areas in San Antonio.  Call Heartwood for a free estimate 210-585-2560.
keywords: tree trimming, tree removal, tree pruning     
---
.row
  .col-lg-8
    %h1
      Tree Trimming by Heartwood
    
    %p 
      The benefit of properly trimming trees is to eliminate common problems that become more costly over time.  
      The improvement and restoration of the look, structure and stability of all trees is a priority.   
      Annual tree maintenance has proven to be a successful practice, which is what I recommend.  

    %h3 Reasons for trimming trees:
    %ul
      %li Raise canopies over streets, sidewalks, driveways, and fences.
      %li Trim back from roof lines, homes, buildings, and other structures.
      %li Provide central cleaning for proper aeration.  The wind should pass through trees and not resist against them. 
      %li Trim for proper weight distribution. 
      %l To remove dead limbs and branches.  Dead limbs left on trees attract insects such as carpenter ants and borer bugs that are not healthy for them.

    %h3 Is there a good time for trimming?

    %p If trimming is done properly and responsibly it may be done year round.  As long as the equipment is sanitized before each project and wounds on Oaks are sealed right away.  Preferably, hire a professional company that adheres to the basic principles set by the ISA.  Some HOA's  restrict tree work at certain times of the year; I applaud these efforts as it restricts improper trimming. 

    %p As a rule of thumb, trees should never be trimmed more than 20% of the foliage at any given time.  Leaving just a little foliage at the ends of branches (lion tailing) is not healthy for trees.  We recommend removing dead limbs and branches, raising canopies and a general central cleaning, leaving as much foliage as possible. That’s one of the ways trees feed themselves through photosynthesis. Removing too much foliage compromise overall health.  
  .col-lg-4
    %h4 Before trimming
    = image_tag('tree-trimming/before-trim.jpg', class: 'img-fluid rounded')
    %h4 After trimming
    = image_tag('tree-trimming/after-trim.jpg', class: 'img-fluid rounded')            