%h1.page-header
  About
  %small.text-muted= site.title
%p 
  Ony Hall, broker and owner of Magnolia Realty, began her career over a decade ago as an agent to a Real Estate Company acquiring all the experience needed to assist South Texans in their search for their “American Dream of Homeownership”.
%p
  She began building her own company known as “Magnolia Homes” for those customers who wished to have a custom home in South Texas. What an experience and reward it has been! Now, Ony Hall has helped so many residents of Pearsall Texas, Frio County and surrounding towns to build their custom “dream home”. With her experience, Ony Hall and her staff can design, finance, and build your home, or sell you the best property so your dream can come true!

%p Call Magnolia Realty today and enjoy the luxury of owning your new designed home build by Pearsall’s best custom home builder!