- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  = site.title
  %small Welcome
%p.pull-right
  %b Broker: 
  Ony Hall 
  %br/
  Pearsall, Texas

%h3 
  Magnolia Homes Presents

= image_tag 'index/house-6.png'  

