%h1.page-header
  Anti-aging Treatments
  %small.text-muted= site.title
%p 
  Each treatment is targeted to help improve fine lines, acne, aging spots whether you have dry or oily skin. Results depend on your commitment to treatments and skin type. It's time to relax and enjoy!

%p 
  Facial treatments are the most common non-surgical way to rejuvenate, lift and tighten the skin without pain and are much lower in price. There are 
  several kinds of anti-aging treatments and anti-aging products for wrinkles. Estheticians use special serums, anti-oxidant products and masques to 
  rejuvenate the skin. I add a facial massage to increases circulation and restores skin tone and color. Concentration is given around the eyes with a 
  light tapping massage. Anti-Aging treatments target the skin that is affected as we age. As we age we start seeing these signs:

%ul
  %li Wrinkles, Sun-damaged skin, fine lines
  %li Sagging skin - sagging neck area that will improve and firm with continued maintenance
  %li Age spots such as brown spots and freckles
  %li Skin Tone changes
  %li Acne and Acne scars
  
%h3 Benefits
%ul

  %li Improves Skin Health
  %li Great for teen-agers and adults
  %li Improves facial skin condition

 

