---
title: Skin Exfoliation | Europen Facials
description: Detoxify and revitalize your skin with a bi-weekly European Facial both for men and women. 
---

%h1.page-header
  European Facials
  %small.text-muted= site.title
%p 
  A European facial is designed to detoxify and revitalize your skin. It exfoliates and nourishes the skin to promote beautiful, well-hydrated skin. It is a form of deep cleaning into the pores of your face. Exfoliation happens while a steam vapor is directed at your face and your eyes are covered lightly with a strip of cotton. At your request, extraction of blackheads or whiteheads can also be done at the time of the facial.  

%h3 Benefits
%ul
  %li By maintaining a regimen, you help your skin to prevent future wrinkles or skin discoloration
  %li Consistency, as does diet and healthy eating will give you faster results
  %li Affordable prices versus surgical treatments
  %li Eliminates facial toxins
  %li Maintain a healthy looking skin