%h1.page-header
  European Facials
  %small.text-muted= site.title
%p 
  A European facial is designed to detoxify and revitalize your skin. It exfoliates and nourishes the skin to promote beautiful, well-hydrated skin. It is a form of deep cleaning into the pores of your face. Exfoliation happens while a steam vapor is directed at your face and your eyes are covered lightly with a strip of cotton. At your request, extraction of blackheads or whiteheads.