%h1.page-header
  Infrared Light Therapy
  %small.text-muted= site.title
%p 
  A technique that is well absorbed by the skin that stimulates collagen without
  harshness or damage to the skin.  An non-invasive alternative treatment that is good for all skin types, conditions and ages to rejuvenate the skin, reduce wrinkles and puffiness without expensive Botox and cosmetic surgery procedures.

%h3 Benefits
%ul
  %li Prevents Acne
  %li Increase circulation to dried, dull skin
  %li Reduces puffiness around the eyes
  %li Reduces redness
  %li Acne and Acne scars
  
%h4 LED Infrared Light Therapy Treatments are performed after a good facial to:
%ul

  %li Face and neck treatment
  %li Eye treatment
  %li Improves facial skin condition
  %li Hand treatment
