%h1.page-header
  Light Therapy Facials
  %small.text-muted= site.title
%p 
  Light therapy minimizes wrinkles, aging spots and revitalizes the skin. Deep penetrating light rejuvenates the skin to improves skin texture, tone and color giving the skin a natural healthy feel and appearance. Results can be seen depending on skin tone, type and series of sessions.

%h3 Anti-Aging LED Light Therapy
%p 
  Infrared LED light therapy is a natural light therapy that can reverse the
  first visible signs of aging by stimulating the skin to produce collagen and 
  elastin. Our skin naturally absorbs infrared light and uses it as an energy 
  source to stimulate cellular regeneration without surgical procedures or harsh
  chemical injections. 
%p
  When we age or have skin problems, we loose the tightness and the natural 
  radiance making our skin look old and saggy, thus getting wrinkles, skin 
  discoloration, lines and other flaws. With LED Light therapy, the skin will
  tightened with continued therapy series, smooth rough aging spots, diminish 
  wrinkles and blemishes to make the skin look radiant and young again. Light
  therapy can also effectively be used as a pain relief treatment for sore 
  muscles, sprains, back aches, spasms or the early stages of arthritis.Infrared
  LED Light Therapy:

%ul
  %li Improve Aging Skin
  %li Soften wrinkles, laugh lines, fold lines
  %li Improve sagging skin
  %li Puffy eyes
  %li Diminish spots or aging spots and freckles
  %li Help repair acne or blemishes caused by acne