%h1.page-header
  MicroCurrent Therapy
  %small.text-muted= site.title
%p 
  This is a MicroCurrent Technology using a very small amount of electrical current that stimulates the muscles. With each treatment, the skin firms, tones and sculpts through muscle re-education. The skin looks revitalized, firmed, more radiant and younger with treatment progress.
%p
  It is a non-surgical procedure using the latest and best "MicroCurrent" technology in the industry. Everyone wants to get rid of those "furrow" lines, "smile" lines, jaw and chin sagging skin that make people look old and tired.
%p
  MicroCurrent improves the production of collagen while improving the skin texture. This process helps to eliminate the unwanted fine lines and 
  sagging skin. The current is safe, painless and is great in restoring facial skin to it's original shape. Number of treatment series may vary, depending on your personal goal and challenges. I will give you the best advice for your skin type.

%h4
  Benefits  
%ul
  %li Prevents Saggy Skin
  %li Increase stimulation
  %li Facial Sculpting
  %li Facial Toning
  %li Reduces Wrinkles
  %li Reshapes Skin texture
