%h1.page-header
  Permanent Make-up
  %small.text-muted= site.title
%ul 
  
  %li
    %b Lip Liner
    – a great look and definition added to your lips.

  %li
    %b Eyebrow
    – great eye brows, arches to express your eyes and change your look and reveal your beautiful eyes!
  %li
    %b Eyeliner 
    – wake up every morning looking great!
%p
  Great makeup done by an expert with colors that are right for you!

