%h1.page-header
  Reflexology
  %small.text-muted= site.title
%p 
  Reflexology is an Alternative Therapy bodywork involving the physical act of 
  applying pressure to certain trigger points in feet area using various finger 
  and hand techniques. Reflexology to most people is very relaxing; to others,
  certain areas in the foot may tickle, but Reflexology shouldn't be painful. 
  The following graph shows some of the main trigger points linked to body 
  organ used in modern practice of reflexology.

%h3 At Natural Skin Care we offer:
%ul
  %li 30 Minute Sessions
  %li 1 hour Sessions
  %li Packages of 6 sessions
  %li By Appointments Only
  
%h3 Why would you need reflexology?
%ul

  %li Tension headaches
  %li Relief Stress
  %li Insomnia
  %li Pain Management & Discomfort
  %li Digestive Disorders & more!

%h3 Notice:
  If you're pregnant, talk with your doctor first and let the 
  reflexologist know. If you have any medical history that may be of concern to
  the reflexologist, please discuss it first before treatment. Reflexology is 
  not a cure for diseases, only an alternative therapy.