%h1.page-header
  Skin Care Services
  %small.text-muted= site.title
%p 
  Each treatment is targeted to help improve fine lines, acne, aging spots whether you have dry or oily skin. Results depend on your commitment to treatments and skin type. It’s time to relax and enjoy!

%ul
  %li Anti-aging Treatments
  %li European Facial
  %li Light Therapy Ultrasound
  %li Waxing
  %li Permanent Make-up
  
%h4 Personal Message from Norma:

%blockquote
  You are my most important client; your goals are mine. My experience and personal service will make a difference in the way you look and feel. A little pampering never hurts anyone! I will make sure that you enjoy your facial and a great face massage. If you have an event, a quincenera, a wedding, a corporate event, a date; any function that is important for you..please call me! Escape from your everyday stress and relax with Norma’s Skin Care treatments.


