%h1.page-header
  Waxing
  %small.text-muted for women and gay men
%ul 
  %li
    %b Eye Brow Wax
    \– a  $15.00 & up
  %li
    %b Lip Wax 
    \– $10.00
  %li
    %b Chin Wax 
    \- $10.00 & up
  %li
    %b Bikini Wax 
    \- $35.00 & up
  %li
    %b Full Leg Wax
    \- $85.00 & up
  %li
    %b Half Leg Wax 
    \- $40.00

%h3 Waxing For Men
%ul
  %li
    %b Eye Brow Wax 
    \– $15.00 & up
  %li 
    %b Full Back Wax
    \- $70.00