- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  STRESSED OUT?
  %small Discover Bio-Energetic-Synchronization Technique - B.E.S.T

%p
  Are you sick and tired of being sick and tired?
  Do you suffer from chronic pain?
  Have you been diagnosed with an incurable disease?
%p
  ARE YOU READY TO TAKE A QUANTUM LEAP INTO GOOD HEALTH?
%p
  Discover Bio-Energetic-Synchronization Technique - B.E.S.T
%p
  We address the cause. Not merely the symptoms!!! B.E.S.T is known for its quick and often dramatic relief from pain.
%p
  We address the BODY - MIND - MEMORY - SOUL.

%p

  We recognize that each of us is a SOUL having a PHYSICAL EXPERIENCE.
%p
  Developed by Dr. Ted Morter Jr., this 'hands on technique' unblocks, balances, and redirects the body's energy. It taps into Your Body's Innate Intelligence and the Sub-Conscience Mind - releasing the blocks inside the body's energy flows and the flow of energy surrounding the body as well; thus enabling ones own Innate Intelligence, to again rebuild and heal.
%p
  The Body's Perfect Innate Intelligence that made you from two cells is still working. ALWAYS doing the perfect thing to SURVIVE - NOT to keep you healthy but to SURVIVE! If your body can heal a cut - can it not heal anything else???
%p
  The stress, toxins, and emotions that we must deal with can block and imbalance; creating sub-conscious emotional override. B.E.S.T removes these blocks and re-times the muscles and mind, it reorganizes the Auric Fields; thus removing the 'Cause' of the person's distress and disease.
%p
  We help you become aware of what constitutes balance for you in 6 essential areas.
%ul
  %li What you eat
  %li What you drink
  %li How you exercise
  %li How you rest
  %li What you breathe
  %li What you think
  %li Do you know your PH Balance?
%p
  For 30 years Dr. Morter has been teaching people about the importance of ph balance. All people who have chronic degenerative diseases are in a state of acidosis. B.E.S.T gives guidance and tools on how to correct and maintain a healthy ph balance through nutrition, supplement (if needed), and by handling Stress and Thinking! B.E.S.T teaches the patient what must be unlocked, unblocked, and forgiven plus what actions to take to maintain the perfect of health, happiness and success of which
%p
  Each Human Being IS WORTHY OF!!!
%p
  Call me today for your consultation.