---
title: Who is Janitorial Commercial Cleaning Services 
description: Texas Veteran Janitorial Services is a small business equipped, experienced and certificatied to perform office and janitorial cleaning for the perfect cleaning working environment. 
---

%h1.page-header 
  About Us

%p
  Texas Veteran Janitorial Services is a cleaning service business located and established in  San Antonio, Tx.  We specialize in office cleaning, floor treatments, carpet cleaning and window washing for businesses with office space in the San Antonio and metro area. The business was founded by Marquis Adams, a cleaning industry professional with collective experience who has gathered resources to develop a new strategy for reaching and serving business clients.

%p 
  We have all the buffing machines, carpet cleaning machines, vacuums and basic tools (mops, buckets, brooms, carts) safety equipment and working vans to do the job on-time and professionally.

%p Texas Veteran Janitorial Services accreditations:

%ul
  %li AABE -  African American Business Enterprise 
  %li ESBE -  Emerging Small Business Enterprise 
  %li MBE   -  Minority Business Enterprise (
  %li SBE   -  Small Business Enterprise 
  %li VBE   -  Veteran-Owned Business Enterprise 

%p NAICS CODE: 

%ul
  %li 561720: JANITORIAL SERVICES
  %li 561720 OFFICE CLEANING SERVICES
  %li 561740 FURNITURE CLEANING SERVICES 




