---
title: About Us
description: Texas Veteran Janitorial Services is a small business equipped, experienced and certificatied to perform office and janitorial cleaning for the perfect cleaning working environment.
keywords: 
---

<h1 class='page-header'>About Us <small>Who we are</small></h1>

Texas Veteran Janitorial Services is a cleaning service business located and established in San Antonio, Tx. We specialize in office cleaning, floor treatments, carpet cleaning and window washing for businesses with office space in the San Antonio and metro area. The business was founded by Marquis Adams, a cleaning industry professional with collective experience who has gathered resources to develop a new strategy for reaching and serving business clients.

#### Texas Veteran Janitorial Services accreditations:

* AABE - African American Business Enterprise
* ESBE - Emerging Small Business Enterprise
* MBE - Minority Business Enterprise
* SBE - Small Business Enterprise
* VBE - Veteran-Owned Business Enterprise


#### NAICS CODE:

* 561720 Janitorial Services
* 561720 Office Cleaning Services
* 561740 Furniture Cleaning Services