---
title: We do Green Cleaning
description: Texas Veteran Janitorial Services preserves environmental quality and human health by utilizing green cleaning products for a better working office space.  
---

%h1.page-header 
  Green Cleaning
  %small Utilizing Green Cleaning Products

%p
  Green cleaning is a rather new concept, it basically means utilizing cleaning products and methods that are made of environmentally friendly substances. 
  These products and methods have only one purpose: to preserve environmental quality and human health. 
  Green cleaning products and techniques don't use toxic and chemically reactive ingredients or toxic chemicals that emit volatile organic compounds that lead to various dermatological and respiratory problems.


.pull-right
  = image_tag 'assets/img/app/green-clean.png', class: 'img-responsive'


%h2 Benefits of using Green Products

%ol
  %li Green products provide a safe, clean, healthy, and Eco-friendly alternative to your environment
  %li Green products have no harmful fumes
  %li Green cleaning reduces risk for allergy and asthma.
  %li Green products will leave no residue.
