---
title: Texas Veteran
description: 
keywords: 
---

<%
 if carousel.present? 
   content_for :carousel, site_partial('carousel')
end 
%>

<h1 class='page-header'>Texas Veteran <small> Janitorial Services</small></h1>

<div class='pull-right text-right'><img class='img-responsive' src='http://txvetjanitorial.mblz.com/system/uploads/178/small/logo.jpg'/></div>

## Mission Statement

Our mission here at Texas Veteran Janitorial Services is to protect and service our clients. We provide quality cleaning services and the industry's highest level of customer satisfaction. We will leave no stones unturned as we work to deliver the finest cleaning services for a healthy work environment.