---
title: About Janitorial Commercial Cleaning Services
description: Texas Veteran Janitorial Services is a small business certified and licensed to perform janitorial, office and furniture cleaning.
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  Texas Veteran 
  %small Janitorial Services


%h1 Mission Statement 

.pull-right
  = image_tag 'assets/img/gallery/web/logo.jpg', class: 'img-responsive'



%p
  Our mission here at Texas Veteran Janitorial Services is to protect and service our clients.  We provide quality cleaning services and the industry's highest level of customer satisfaction.  We will leave no stones unturned as we work to deliver the finest cleaning services for a healthy work environment. 
