---
title: Janitorial Commercial Cleaning San Antonio 
description: Texas Veteran Janitorial Services provides detailed office and other commercial cleaning to include garbage removal, dusting and cleaning of all surfaces, sweeping, mopping floors and cleaning of doors and walls as needed or requested by client.  
---

%h1.page-header 
  Janitorial 
  %small Commercial Cleaning


%p 
  Texas Veteran Janitorial services will focus specifically on cleaning and maintaining small, medium and large offices in the San Antonio area. Our commercial janitorial services will includes office cleaning, furniture cleaning, floor waxing, floor stripping and sealing, window cleaning and bathroom and kitchen cleaning. 
%p 
  Here is a summary of the basic task we perform when cleaning a business. 

.pull-right
  = image_tag 'assets/img/gallery/carpet_cleaning/silhoutte.jpg', class: 'img-responsive'

%p
  Texas Veteran Janitorial Services will focus specifically on cleaning and maintaining small, medium and large offices in the San Antonio area. Our commercial janitorial services will includes office cleaning, furniture cleaning, floor waxing, floor stripping and sealing, window cleaning, bathroom and kitchen cleaning.  We provide weekly, monthly, bi-weekly and night cleaning services if necessary. We will provide green cleaning and normal operations.


%h4 Residential Cleaning Services: 


%ul
  %li Residential Homes
  %li Move In-Out Homes and/or Apartments, Townhomes, Condominiums 

%h4 Detail Types of Commercial Cleaning Services we provide: 

%ul  
  %li Window Cleaning
  %li Stripping & Waxing
  %li Break Room / Kitchen Area
  %li Restrooms
  %li Carpet Cleaning
  %li Make Ready Move In-Out
  %li Tile and Grout
  %li Pressure Washing 
  %li Wooden Patio Decks

%h4 Commercial Industries we provide service to: 

%ul
  %li Banks / Credit Unions
  %li Office / Building Suites
  %li Retail Shopping Centers
  %li Events & Shows
  %li Night Clubs & Bars
  %li Medical / Dental Facilities
  %li Adult Learning Centers
  %li Schools / Colleges 


%h5 For questions on other type of services that you don't see listed on our website, please contact us to discuss your specific needs!  