---
title: Janitorial Commercial Cleaning San Antonio 
description: Texas Veteran Janitorial Services provides detailed office and other commercial cleaning to include garbage removal, dusting and cleaning of all surfaces, sweeping, mopping floors and cleaning of doors and walls as needed or requested by client.  
---

%h1.page-header 
  Janitorial 
  %small Commercial Cleaning


%p 
  Texas Veteran Janitorial services will focus specifically on cleaning and maintaining small, medium and large offices in the San Antonio area. Our commercial janitorial services will includes office cleaning, furniture cleaning, floor waxing, floor stripping and sealing, window cleaning and bathroom and kitchen cleaning. 
%p 
  Here is a summary of the basic task we perform when cleaning a business. 

.pull-right
  = image_tag 'assets/img/gallery/carpet_cleaning/silhoutte.jpg', class: 'img-responsive'

%ul
  %li Office Areas, Hallways, Stairs, Entries
  %li All areas including ceilings and walls dusted, on top, front and sides
  %li Hard surface floors swept and mopped
  %li Carpeted floors vacuumed
  %li Glass tables cleaned
  %li Picture frames dusted
  %li Lamp shades wiped down or dusted
  %li Blinds dusted and wiped if needed
  %li Telephones sanitized
  %li Waste receptacles emptied, damp wiped, and liners replaced, if desired
  %li Toiletries restocked as scheduled, If desired 
  %li Smudges removed around door jambs, light switches, glass partitions, counters and unobstructed work areas
  %li Soil removed from entrance doorframes, handles, glass and threshold
  %li Carpet spots removed
  %li Light general straightening

%h3 RESTROOMS:

%ul
  %li All surfaces dusted and sanitized, as needed
  %li Sink scrubbed, rinsed and buffed
  %li Fixtures cleaned
  %li Tub and or shower thoroughly cleaned and rinsed, if applicable
  %li Toilets disinfested inside and out, including base and behind 
  %li Vanity top cleaned
  %li Mirrors cleaned 
  %li Floor vacuumed or swept and mopped
  %li Light general straightening

%h3 Breakroom/Kitchen Areas:

%ul
  %li All surfaces dusted and sanitized as needed
  %li Countertops and backsplash cleaned
  %li Sinks scrubbed and rinsed and buffed
  %li Floor vacuumed swept and mopped
  %li Outside of appliances cleaned ( oven, microwave, refrigerator where clear, dishwasher, stovetop etc.)
  %li Inside of microwave cleaned
  %li Small appliances wiped ( toaster, blender, etc)
  %li Table washed
  %li Light general straightening


%h3 Miscellaneous: 

%p Any unusual occurrences, malfunctions or damages reported


%p Note:  We will provide green cleaning and normal operations. We also will provide nightly cleaning if desired.


