
%meta(content='width=device-width, initial-scale=1.0' name='viewport')
- if site.theme
  %link{href: "//stackpath.bootstrapcdn.com/bootswatch/4.2.1/#{site.theme}/bootstrap.min.css", rel: "stylesheet"}    
- else
  %link{href: "//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin: "anonymous"}
%link(rel="shortcut icon" href="//assets.integrated-internet.com/public/sites/ii/icons/icon.gif")
= yield_content 'add_to_head'
