
%meta(content='width=device-width, initial-scale=1.0' name='viewport')
%link{href: "//maxcdn.bootstrapcdn.com/bootstrap/#{data.config.bootstrap.version}/css/bootstrap.min.css", rel: "stylesheet"}
%link(rel="shortcut icon" href="//assets.integrated-internet.com/public/sites/ii/icons/icon.gif")
= yield_content 'add_to_head'
