- # for global pages like contact and gallery
- meta = site(:meta)[current_page.path.sub(/\.html/,'')] || {} rescue {}

%meta{ name: :title, content: ( current_page.data.title || meta[:title] || site.title ) }
%meta{ name: :description, content: ( current_page.data.description || meta[:description] || site.description ) }
%meta{ name: :keywords, content: ( current_page.data.keywords || meta[:keywords] || site.keywords ) }