
.container
  .row
    .col-lg-8.col-md-8

      %h1.page-header
        About
        %small.text-muted= site.title

      %p 
        The Cases Group, LLC is a Limited Liability Company (LLC) certified in the State of Texas, U.S.A. The staff consists of a group of experienced designers whose skills and experience cover a very broad segment of the electrical design, modeling and verification of high speed digital systems. The company’s focus is on the design, modeling and simulation of the electronic packaging of the digital systems including chip packaging, system printed circuit boards, and cabling assemblies; including system timing closure and verification and physical design guidelines.
      %p
        As a company of experienced professionals, The Cases Group, LLC adds outstanding value to the client’s projects. We provide the knowledge needed to compete in today’s fast-changing markets by staying abreast of the latest interconnect, signaling and powering technology, and redefining the state-of-the-art in modeling, simulation and measurement methodologies.
      %p
        Today, the digital system design and manufacturing business is a globally integrated set of processes where the electrical design of the system components plays an important role from the product competitiveness and reliability. Therefore, The Cases Group, LLC offers design and consultation services globally to our clients from various segments of the market. The Cases Group, LLC is an US-based company well suited to provide services to national and international firms and governmental agencies given our diversity in the marketplace and our excellent communication skills and extensive knowledge in the fields of interest. The Cases Group, LLC is also a member of the Greater Austin Hispanic Chamber of Commerce (GAHCC).
      %p
        Moises Cases, the founder, has over 39 years of progressive experience in very-large scale integration (VLSI) chip and package designs, in system level electrical and package designs, and in complex project and people management. He retired as a Distinguished Engineer and Master Inventor from the IBM Corporation, System and Technology Group (STG). Mr. Cases was the team leader for system electrical design and integration of modular and blade servers, responsible for signal and power distribution integrity, and system level timings for complex multiple board system designs. Presently, Mr. Cases is the President and CEO of The Cases Group, LLC; a Texas Limited Liability Company dedicated to design and consulting services for electronic systems. He obtained his Master of Science in Computer Engineering from Syracuse University, NY in 1979, Master of Science in Electronic Engineering from New York University, NY in 1973, and a Bachelor of Science in Electrical Engineering from City College of New York, NY in 1969. He is a Fellow member of IEEE society and a member of Tau Beta Pi and Eta Kappa Nu honor societies.
      %p
        Mr. Cases was awarded IEEE Fellow grade in 2008 for contributions to design and noise control for power and signal distribution in digital systems. He was the general co-chairman (representing the industry) of the IEEE Electrical Performance of Electronic Packaging (EPEP) workshop for 2005 through 2006, and he was the general chairman of the 1999 IEEE Systems Packaging Workshop. Moises is also an Associate Editor for IEEE CPMT Transactions on Advanced Packaging since 2002. He chaired the electromechanical working group (EWG) for the Infiniband Trade Association (IBTA) from 2003 to 2008.
      %p
        Mr. Cases has received the Hispanic in Technology Corporate Award from the Society of Hispanic Professional Engineers (SHPE) in 2006, the Business/Community Representative of the Year Award from Austin Independent School District (AISD) in 2007, the Albert V. Baez Award from HENAAC in 2007, the Teacher-Engineer Partnership Award from IEEE in 2008, and the Outstanding Sustained Technical Contribution Award from IEEE and CPMT societies in 2009. He was elected to the IBM Academy of Technology in 2008 and he is presently a member emeritus of the Academy.
    .col-lg-4.col-md-4
      = site_partial('submenu')


