
.container
  .row
    .col-lg-8.col-md-8

      %h1.page-header
        Awards

      %p 
        Moises Cases, the founder of The Cases Group, LLC received numerous awards and recognitions over the 39 years of services with the IBM Corporation including 20 Invention Achievement Awards and 5 Outstanding Technical Achievement Awards in appreciation and recognition for creative contributions to IBM progress. He was also elected to the IBM Academy of Technology in 2008 and he is presently a member emeritus of the Academy.
      %p
        In addition, Moises has received numerous external recognitions for sustained technical contributions to the field of system level electrical packaging and integration for high speed digital systems, including design and noise control for power and signal distribution and for community activities to promote Science, Technology, Engineering and Mathematics (STEM). He was awarded IEEE Fellow grade in 2008 for contributions to design and noise control for power and signal distribution in digital systems. This includes 6 IEEE CPMT society awards for sustained outstanding contributions and 2 IEEE/AISD awards for teacher-engineer partnership, as well as the following high-level recognition awards:
      %ul
        %li The Outstanding Sustained Technical Contribution Award from IEEE CPMT society in 2009
        %li The Teacher-Engineer Partnership Award from the International Electrical and Electronic Engineering (IEEE) society in 2008
        %li The Albert V. Baez Award from the Hispanic Engineer National Achievement and Award Conference (HENAAC) in 2007
        %li The Business/Community Representative of the Year Award from Austin Independent School District (AISD) in 2007
        %li The Hispanic in Technology Corporate STAR Award from the Society of Hispanic Professional Engineers (SHPE) in 2006

      %table(width="100%")
        -# %tr
        -#   %td
        -#     = image_tag 'awards/HENAACaward2.png'
        -#   %td
        -#     = image_tag 'awards/SHPEaward2.png'
        -#   %td
        -#     = image_tag 'awards/EDAPSaward2.png'
        %tr
          %td
            %h4 HENAAC Award
          %td
            %h4 SHPE Award
          %td
            %h4 EDAPS Award




    .col-lg-4.col-md-4
      = site_partial('submenu')




