.container
  .row
    .col-md-12
      %h1 
        Customer Types
        %small 
          The Cases Group, LLC is committed to service customers in a diverse variety of markets including but not limited to:
      
      %h4 System/Subsystem Developers

      Typically, these firms have their own internal design teams and/or subcontract the work (or part of the work) to service providers in the areas of interest depending on resource availability and/or budgetary constraints. We offer these established firms a viable and valuable resource. We can undertake either the entire design process or any part of it for the electrical, logical and/or physical design aspects of the product development cycle, as well as provide consultation to their in-house staff.

      %h4 System/Subsystem Manufacturers

      We offer these established firms a viable and valuable resource to assist them in the area of yield and cost optimization through comprehensive design analysis and evaluation.

      %h4 Design/Manufacturing Service Firms

      For established design and manufacturing service firms, we offer design and consultation services as supplemental resources and/or specialized knowledge-based services.

      %h4 Governmental Agencies

      Typically, the federal/state government retains consultants for a variety of purposes. As a local firm we offer expertise on electrical design, consulting, project management and product design optimization.

      %h4 Guaranteed Value

      Our value proposition is to offer high-powered valuable expertise to boost and complement the existing resources within the client's organizations and to provide state-of-the-art innovative approaches for their designs while maintaining a reasonable cost structure for our clients.