
.container
  .row
    .col-lg-8.col-md-8

      %h1.page-header
        News

      %h3 Project 1: Dell Corporation
      The Cases Group – working projects and consulant to Sematech.

      Dell Corporation: PCIe Substrate Model Generation – April 2012 – June 2012

      Generation and verification of an electrical model set for a laminate substrate package for PCIe Gen 2 application using s-parameter techniques.

      %hr 

      %h3 Project 2: Viking Technology
      Viking Technology: SATA/DDR3 Card Interface Design - March 2011 - July 2011 Signal Integrity design, modeling and analysis of a SATA/DDR DIMM card application for SATA @ 6 Gbps and DDR at 2.133 Gbps operation.
      %hr
      
      %h3 Project 3: Consultant SEMATECH
      Consultant to Sematech March 2011 to June 2011 Developed comprehensive and trackable list of standards needed to enable the fast emerging 3DSIC technology, including owner associations.eration and verification of an electrical model set for a laminate substrate package for PCIe Gen 2 application using s-parameter techniques.
        
    .col-lg-4.col-md-4
      = site_partial('submenu')




