.container
  .row
    .col-lg-8.col-md-8
      %h1.page-header Services
      %h3 
        The Cases Group, LLC provides a wide spectrum of product development and design services including but not limited to:

      %ul
        %li Electrical, physical and logical design of high speed systems
        %li Design support services for developing and manufacturing firms
        %li Multiple electronic boards system designs
        %li Cable subsystem designs
        %li Project management
        %li Professional consultants with extensive experience on
        %li Industry standard digital interfaces and protocols
        %li Participation in Trade Association such as Infiniband, PCI, PCI-E, JEDEC DDR
        %li Developing computer-aided design analysis and optimization tools
        %li Design evaluation for thermal and mechanical
      %h3 We offer these services to a wide variety of product designs including but not limited to:
      %ul
        %li Computers and servers
        %li Memory subsystems
        %li Peripheral devices
        %li Medical
        %li Telecommunication
        %li Aerospace
      %h3 
        Our design and consulting services include all aspects of the physical, electrical and logical design of high speed systems including but not limited to:
      %ul
        %li Electrical modeling of complex 3D interconnect and packaging structures
        %li Signal Integrity/Power Integrity (SI/PI) design analysis, optimization and verification
        %li Signal and power distribution analysis, modeling and simulation
        %li System timing closure
        %li Electromagnetic Interference (EMI) analysis and compliance
        %li Energy consumption analysis and optimization
        %li Electrical design optimization based on sensitivity analysis for all design and manufacturing parameters
        %li Constraint managed layouts
        %li Develop and apply physical design guidelines/rules
        %li Cost-performance driven design optimization
        %li Electrical packaging characterizations and hardware-to-model correlation analysis
        %li Interconnects, packages, printed circuit boards, connectors, cables
        %li System-level measurements, analysis and design verification/evaluation
        %li Logical/functional definition, design and evaluation of subsystems
        %li Mixed signal (digital/analog) design environments
        %li For more information, please call us or use our Contact Form
    .col-lg-4.col-md-4
      = site_partial('submenu')        

         