
.container
  .row
    .col-lg-8.col-md-8

      %h1
        Testimonials

      %h3 E-Systems Partnership
      %blockquote
        We have had a long collaborative relationship with Mr. Moises Cases, CEO of The Cases Group, LLC in the area of research, development and exploration of electronic systems with a focus on packaging and printed circuit board design, including modeling, simulation and investigation of new materials for enhancing Signal and Power Integrity.
        %br/
        Mr. Cases, who has had a distinguished career at IBM, brings several years of experience in these areas where his innovative approach has resulted in several new developments for enhancing the performance of electronic systems.
        %br/
        We currently have a collaborative partnership between The Cases Group, LLC and E-System Design, Inc. where we are looking forward to continuing our efforts in advancing design, modeling and simulation techniques to ensure signal and power integrity in advanced and highly miniaturized electronic systems.

        %footer
          Dr. Madhavan Swaminathan, Founder and CTO

          = link_to "E-System Designs", "http://www.e-systemdesign.com/"

          Johns Creek, GA 30022

      %hr 

      %h3 Viking Technology
      %blockquote
        The Cases Group did an excellent job of analyzing the signal integrity on some difficult electrical topologies for us. After seeing the comprehensive results of their high-speed simulation (including DDR3-2133 and 6Gbps SATA signals), we were able to move forward with great confidence in those products.

        %footer 
          Jonathan Hinkle | Memory Systems Architect | Viking Technology | 
          = link_to "Viking Technology", "http://www.vikingtechnology.com/"
  
    .col-lg-4.col-md-4
      = site_partial('submenu')




