%h1
  About
  %small.text-muted= site.title

%h3 People
%p 
  We have many years of Internet and Business experience. Our core philosophy revolves around listening to our client's needs and delivering solutions that meet them by following ...

%h3 The Agile Manifesto
%ul
  %li 
    %b Individuals and interactions
    \- over processes and tools 
  %li 
    %b Working software 
    \- over comprehensive documentation 
  %li
    %b Customer collaboration 
    \- over contract negotiation 
  %li 
    %b Responding to change 
    \- over following a plan      


