- if carousel.present?
  - content_for :carousel, site_partial('carousel') 
%p

%blockquote
  Integrate your business with the Internet
  %footer Integrated Internet

%h1.page-header 
  Who are we?
  %small a web application development company
%p 
  We are a web application development company, delivering solutions that automate, support and improve business processes. 
  = click_to_call
  works with clients to meet their business goals, focusing on increasing sales and reducing cost.

%h3 Mobilize!
%p 
  Core to our philosophy, is enabling stake holders for your company - whether it be employees, customers or whomever. Giving them the right tools, in the right place, you can reduce expenses and increase your bottom line.
%p 
  Our flagship product, 
  = link_to 'MBLZ', 'http://www.mblz.com'
  embodies these philosophies.

  
/ :css
/   body{
/     padding-top:40px;
/   }