%h1.page-header 
  Services
  %small 
    provided by
    = site.title
%ul 
  %li 
    %b Process Automation/Optimization
    Anything you do all the time you should never have to do. 
    Anything you do often should be done in the same place.
  %li (Mobile) Web Application Development
  %li Database Programming
  %li Search Engine Optimization (SEO)
  %li Virtual Office Available (Answer phone, Client Management, Dispatching, Invoicing)


 