.container
  %h1 
    About
    %small.text-muted= site.title
  %p 
    Cynthia Moseley, LMT Professional Member of the American Massage Therapy Association and Nationally Certified in Therapeutic Massage and Bodywork.  Texas Licensed since 1988.
	%h1 
		How can my site help you?
	%h2
		Check out my calendar, find an open slot
	%p 
			Contact me and tell me the date you would like to make an appointment
			= link_to "My Calendar",, '/content/cyn/calendar' 