.container
  %h1.page-header
    Calendar
    %small.text-muted
      for Cynthia Moseley, LMT

  Check the calendar to see what is available. I take appointments from 9am to 6pm Monday through Friday and 9am to 3pm on Saturdays. Please be sure to allow 30 min. before and after an appointment for switching times. When you see what is available, just click on Contact., enter the requested info, asked for date and the time that you would like. I'll return your e-mail as soon as I can to confirm your appointment. 
  Or 
  = link_to "email me.", "/contact"

  %h4 How simple is that?

  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "http://www.google.com/calendar/embed?src=i9hespbnaf0k16j0juu30rm2i4%40group.calendar.google.com&ctz=America/Chicago", :style => "border: 0", :width => "100%"}  