.container
  %h1.page-header
    Cancellation Policy
    %small.text-muted
      for Cynthia Moseley, LMT

  %ul
    %li No show, no call, forfeits full session.
    %li Applies to Gift Certificates and Prepaid Sessions.
    %li Cancellation with 24 hour notice - no charge.
    %li Cancellation with less than 12 hours without rescheduling, forfeits half of the session.