= site_partial('carousel')

.container
  %h1.page-header 
    Cynthia C. Moseley LMT
    %small Registered Massage Therapist in San Antonio, Texas.
  %b 
    Professional Member of the American Massage Therapy Association 
    %p 
    Nationally Certified in Therapeutic Massage and Bodywork. 
  %h4 Cynthia Moseley is Texas Registered licensed since 1988.
  %ul
    %li How can my site help you?
    %li Check out my calendar find an open slot
    %li Contact me and tell me the date you would like to make an appointment
    %li Pay with Paypal












