.container
  %h1.page-header
    Products
    %small.text-muted
      offered by
      = site.title
  %h2
    Young living essential oils
  = image_tag 'products/oils2.jpg'
  / %p 
  /     Contact me and tell me the date you would like to make an appointment
  /     = link_to "My Calendar",, '/content/cyn/calendar' 