---
title: Land and Lot Clearing
description: Alamo Tree Systems, a highly skilled company performing extensive site preparation and new development clearing for any acreage or lot size.
---


.row
  .col-lg-8
    %h1.page-header
      Lot and Land Clearing
      %small Alamo Tree Systems has been providing land clearing for the Greater San Antonio and Metro area for over fifteen years. 

    %ul
      %li Land or lot clearing for new development
      %li Land or lot clearing for disaster cleaning
      %li Land or lot clearing for construction of a new building
      %li High-Risk tree and brush removals
      %li Lot Clearing/Bobcat Work
      %li All work is performed at a high skill level with safety techniques that protect your land
      %li Daily Free estimates
      %li Haul debris off-site
      %li San Antonio License Contractor: Lic TL917624

  .col-lg-4= image_tag 'services/clearing.jpg', class: 'img-rounded img-responsive'    