---
title: Land and Lot Clearing | San Antonio Tx
description: Alamo Tree Systems is a highly skilled company performing extensive site preparation and new development clearing for any acreage or lot size.
---


.row
  .col-lg-8
    %h1
      Lot and Land Clearing
      %small Kirk McCloud has been providing site preparation and clearing for the Greater San Antonio and Metro area for over fifteen years. 

    %ul
      %li Land or lot clearing for new development for any size of acreage.
      %li Disaster cleaning (after storms, high winds or heavy rains).
      %li For new site development and construction of any type of new building.
      %li Bob Cat work for land leveling or grading.
      %li All work is performed at a high skill level with safety techniques that protect your land.
      %li Daily free estimates.
      %li Haul debris off-site.
      %li San Antonio License Contractor: Lic TL917624.

  .col-lg-4= image_tag 'services/clearing.jpg', class: 'rounded img-responsive'    