---
title: Land and Lot Clearing
---


.row
  .col-lg-8
    %h1.page-header
      Lot and Land Clearing
    %h4 Alamo Tree Systems has been providing land clearing for the Greater San Antonio and Metro area for over fifteen years. All work is performed at it's highest skill level with safety techniques to protect your valuable land asset.

    %ul
      %li Land or lot clearing for new development
      %li Land or lot clearing for disaster cleaning
      %li Land or lot clearing for construction of a new building
      %li Tree Removals and debris
      %li High-Risk Removals
      %li Lot Clearing/Bobcat Work
      %li Alamo Tree Systems is insured and will safely perform all land clearing work until the job is completed. Free estimates. San Antonio License Contractor: Lic TL917624.

  .col-lg-4= image_tag 'services/clearing.jpg', class: 'img-rounded img-responsive'    