---
title: Alamo Tree Service | Level 1 Trimming, pruning
description: Alamo Tree Systems provides comprehensive tree service to include trimming, ball moss removal and roofline clearance. Schedule with the tree experts 210-702-2114.
---

.row
  .col-md-8
    %h1
      Tree Services
      %small Tree Trimming & Pruning:

    %ul
      %li General trimming and cleaning consists of removing hanging tree limbs, dead or crossed branches.
      %li Thinning dead limbs/branches for sunlight distribution throughout the trees.
      %li Roof Clearance, removing broken branches/limbs touching structures.
      %li Reshaping into canopies.
      %li Weight Reduction from excessive dead limbs/branches.
      %li Tree Separation.
      %li Ball Moss Removal.
      %li
        = click_to_call
        will chip and haul all debris off-site
      %li Maintaining all types of trees is important for future health and growth. It will also makes it easier for future maintenance; thus saving you money.

  .col-md-4
    = image_tag 'services/chipper-small.jpg', class: 'rounded-circle img-fluid'
    %ul
      %li= link_to "Tree Removal", '/content/alamo/tree-removal.html', alt: "Roof clearing"
      %li= link_to "Land Clearing", '/content/alamo/land-clearing.html'

