---
title: High-Risk Tree Removals | Stump Grinding Services
description: Call Alamo Tree Systems for all types of high-risk tree removals damaged by storms or lightning, fallen or decayed trees in San Antonio Tx. Don’t wait till your tree falls, Call 210-702-2114.
---


.row
  .col-lg-8
    %h1
      Tree Removal and Stump Grinding
      /%small.text-muted The removing of unwanted, damaged or old trees that are diseased and can not recover from injections:

    %p 
      Alamo Tree Systems has over twenty years in removal of unwanted, damaged or old trees that are diseased that will not recover from injections.  Depending on the specifications from our customer, we will remove ground to level or ground to level  plus stump if required.
    %p 
      We love our green environment, so we work with you to replant a new tree to keep SA green.  We try to save any tree that is not a hazard or is not in the way for development or endangerment to your property. 
    %p 
      Don't hesitate, call us for your removal.  (210-702-2114)
  .col-lg-4
    = image_tag 'services/removal-small.jpg', class: 'rounded img-responsive'