.container
  
  .row
    .col-lg-8
      %h1.page-header
        Tree Removal
      
      %h4.text-muted Tree Removal consists of removing any unwanted, damaged or old trees that are diseased and can not recover from injections:

      %ul
        %li Option of removing trees ground to level
        %li Second option is tree and stump with stump grinding
        %li We try to save any tree that is not a hazard or is not in the way for development
        %li High-Risk Removals - trees over power lines, on top of a structure, fallen trees from storms or winds are carefully inspected before distraction
        %li We love San Antonio's green environment, so we work with you to replant a new tree to keep SA green.
    .col-lg-4
      = site_img 'services/removal-small.jpg', class: 'img-rounded img-responsive'