---
title: High-Risk Tree Removals | Stump Grinding Services
description: Call Alamo Tree Systems for all types of high-risk tree removals for storm or lightning damaged, fallen or decayed trees in San Antonio Tx.
---


.row
  .col-lg-8
    %h1
      Tree Removal
      %small The removing of unwanted, damaged or old trees that are diseased and can not recover from injections:

    %ul
      %li We remove trees ground to level or deep root plus stump grinding.
      %li We try to save any tree that is not a hazard or is not in the way for development.
      %li High-Risk Removals are trees over power lines, intefering with other structures, fallen trees from storms or winds.  
      %li We love our green environment, so we work with you to replant a new tree to keep SA green.
  .col-lg-4
    = image_tag 'services/removal-small.jpg', class: 'rounded img-responsive'