---
title: Alamo High-Risk Tree Removals
description: Alamo Tree Systems provide all types of tree removals for commercial and residential damaged, fallen or decayed trees.
---


.row
  .col-lg-8
    %h1.page-header
      Tree Removal
      %small Tree Removal consists of removing any unwanted, damaged or old trees that are diseased and can not recover from injections:

    %ul
      %li Option of removing trees ground to level
      %li Second option is tree and stump with stump grinding
      %li We try to save any tree that is not a hazard or is not in the way for development
      %li High-Risk Removals - trees over power lines, on top of a structure, fallen trees from storms or winds are carefully inspected before distraction
      %li We love San Antonio's green environment, so we work with you to replant a new tree to keep SA green.
  .col-lg-4
    = image_tag 'services/removal-small.jpg', class: 'img-rounded img-responsive'