%h1 
  3D 
  %small Learning Sketchup

Sketchup is awesome. It is the first 3D program that I've used that I grokked immediately. For visualizing you ideas, I have not found a better tool.

%p
= link_to "Shed / cooled room", "https://www.youtube.com/watch?v=bNYvr1sHTIQ&feature=youtu.be"


/ .row
/   .col-sm-7
/     %h3 Learn from other
/     %p 
      
/     %ul
/       %li Google it
/       %li Youtube
/       %li Contacts
  
/   .col-sm-5
/     .alert.alert-warning
/       %b Use at your own risk

/       %p I mostly make mistakes

/     %blockquote
/       This should be easy
/       %footer
/         Me   





