---
title: Designing the cooling system
---
%h1 
  Design
  %small 
.row
  .col-sm-7
    %h3 Learn from other
    %p 
      
    %ul
      %li Google it
      %li Youtube
      %li Contacts
  
  .col-sm-5
    .alert.alert-warning
      %b Use at your own risk

      %p I mostly make mistakes

    %blockquote
      This should be easy
      %footer
        Me   





