%h1 
  Net-zero
  %small What is it?

%ul
  %li Net-zero means you generate as much energy as you use. 
  %li Any house could be net-zero if they had the money and space for solar.
  %li So really net-zero, to me, means conservation, and building in such a way that your burden on the environment is minimized.
  %li Building a new home? Lucky you, start with a good design!
  %li Retrofitting a traditional home is more of a challenge.
  %li This site documents the process of turning a 2 story, traditional home into a net-zero home.


%h3 Easy as 1,2, well no, not easy!

%ul
  %li Homes built in this area and most areas in the south have what I believe to be a fundamental flaw - asphalt roofs. 
  %li They not only don't keep the heat out - they invite it in to stay, warming your house well into the evening.
  %li Making matters worse, the AC ducts are in the attic - where the temps regularly are more than 150 degrees.
  %li Also, the ventillation, (gable vents) is poor.
  %li Our plan, before even thinking about a solar system, is fixing this problem.

%h3 First, keep the heat out
%ul
  %li 
    Keep the heat out
    %ul
      %li Metal roof
      %li Radiant barrier
      %li Awnings
      %li Patio covers
  %li Seal and insulate the envelope
  %li Use insulated windows and doors
  %li Use adequate ventilation (ridge vents, soffit vents)
  %li Condition the attic and/or move (or remove) the ducts (mini split ductless, inverter based heat pump)
  %li Use an energy-efficient appliances for cooling/heating, refrigeration, lighting, etc
  %li Add solar panels