%h1 
  We wanted a shed in the backyard. 
  %small That's all we knew.

%p
  The day the shed guy showed up, components built, we asked him to add a 2 foot overhang in front and 4 in the back. He skillfully obliged.

%p  ... but then ...

%ul
  %li It would be nice if it were insulated and dry walled. It turns out this was harder than it could have been because the shed was not 'designed' for drywall it turns out.
  %li The asphalt roof is a solar oven - we should have used an aluminum roof
  %li What about solar?
  %li A fridge?
  %li Air conditioning?
  %li Electrical mains - conduit from the house
  %li Before we knew it our little shed was turning into a tiny house
  %li This site documents where we are and where we want to be with it.