%h1 
  Solar
  %small system

%p
  We use the shed as an off-grid solar system. The back of the house faces south and their is ample room for panels but for now we are going to stick to a smaller system for experimenting.

%ul
  %li
    = link_to "Panels", "https://www.amazon.com/WindyNation-Solar-Panel-Battery-Charging/dp/B00FE45FD4/ref=pd_sim_86_2?ie=UTF8&dpID=517scUzy%2B-L&dpSrc=sims&preST=_AC_UL320_SR280%2C320_&psc=1&refRID=MTCHDPA8AXGVVE2QBCPT"
    x 4
  %li 
    = link_to "Controller", "http://www.ebay.com/itm/MPPT-Solar-Charge-Controller-EPSOLAR-12V-24V-MPPT-Battery-Regulator-150V-Charger/351428607449?_trksid=p2352135.c100338.m3726&_trkparms=aid%3D222007%26algo%3DSIC.MBE%26ao%3D1%26asc%3D20150313114020%26meid%3Dc9da7d0125df47198ccc940be5f08c9b%26pid%3D100338%26rk%3D13%26rkt%3D30%26sd%3D171939840253"
  %li 
    = link_to "Battery ", "http://www.atbatt.com/trojan-t1275-12v-deep-cycle-battery.asp?utm_source=google-pla&utm_medium=cpc&gclid=CjwKEAjw8da8BRDssvyH8uPEgnoSJABJmwYoTtC6EnPIRt3GH2Ic_c_jWk1RCbSzk8yXI3tUNlN67RoCzV7w_wcB"
    x 2 = 24v
    %br/
    LiPO4 batteries are yet too expensive but I have my eye on them for many reasons
