- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  Welcome
  %small small business owner

.row
  .col-lg-4.col-md-6
    %h2.page-header Who
    We are a small company in San Antonio with extensive experience in 
    %b information systems 
    and 
    %b customer service. 
    We understand that customer relationships are essential business - for us and for you.  

    %p
      %br/
      %b Ask about a free demo   

  .col-lg-4.col-md-6
    %h2.page-header What
    We help you build customer relationships.
    We provide a 
    %b free, 
    programmable number that hooks up to the back end of your customer database and can 
    answer the phone for you.
    %p
      %br
      %b Never miss a call
  .col-lg-4.col-md-6
    %h2.page-header Why
    %ul
      %li Improve customer service and team communication
      %li Automate and simplify business processes
      %li Increase efficiency
      %li Capture more leads 
    %b Make more money

%h3.page-header 
  Managed 
  %span.text-muted Customer Relationship Management
  %small aka MCRM

.row
  .col-lg-4.col-md-6
    %h2.page-header Managed
    Are you out in the field doing your job and wonder if your calls are being answered?
    We manage interactions with new, existing and future customers. 
    Create, delete or revise any contact information, wherever you are, from an device with a web browser. 
    Updates are accessible immediately to everyone.
     

  .col-lg-4.col-md-6
    %h2.page-header Customer
    
    Put the customer first. Customers, comments, invoices, estimates and incoming calls are easily accessible, 
    improving communication between business owners, field workers and customers. 
    At all times, be aware of the activities relevant to your business.
 

  .col-lg-4.col-md-6
    %h2.page-header Relationships


    Build relationships with customers. 
    Quickly add new contacts, customers and referrals. 
    Generate estimates quickly and get the invoices to customers faster. Increase profits.

    %blockquote
      A satisfied customer is the best business strategy of all.
      %footer Michael LeBoeuf    