- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  Welcome
  %small small service-oriented business owner




.row
  .col-lg-4.col-md-6
    %h3.page-header
      Service oriented
      %small out in the field
    Our customers are service contractors who provide a highly skilled service but don't necessarily have office skills, or an office, and may not always be able to answer the phone.

  .col-lg-4.col-md-6
    %h3.page-header 
      Service contractors
      %small examples
    
    %ul
      %li Tree Trimmers
      %li Landscapers
      %li Handymen
      %li Electricians
      %li Plumbers
      %li.no-style
        %br
        = link_to "Testimonials", "/testimonials.html", class: 'btn btn-primary'

  .col-lg-4.col-md-6
    %h3.page-header 
      Managing 
      %small field workers
    Field workers get contact details and routing information with a map for directions, a short descriptive note, and a link to the estimate or invoice. Completing jobs assigned are critical to balancing schedules. 
    Field workers are provided all the necessary tools to increases productivity.

    %p
      %b Complete jobs fast
  

%h1.page-header 
  How can Mobilize! help you?
  %small mobilize your business




.row
  .col-lg-4.col-md-6
    %h3.page-header 
      Who
      %small we are
    We are a small company in San Antonio with extensive experience in 
    %b information systems 
    and 
    %b customer service. 
    We understand that customer relationships are essential business - for us and for you.  

    %p
      %br=link_to "Ask about a free demo", "/contact.html", class: 'btn btn-primary'

  .col-lg-4.col-md-6
    %h3.page-header 
      What
      %small we do
    We help you build customer relationships.
    We provide a 
    %b free, 
    programmable number that hooks up to the back end of your customer database and can 
    answer the phone for you.
    %p
      %br
      %b Never miss a call
  .col-lg-4.col-md-6
    %h3.page-header 
      Why
      %small we can help you
    %ul
      %li Improve customer relationships
      %li Automate and simplify business processes
      %li Increase efficiency
      %li Get paid faster
    %b Make more money



