%h1.page-header 
  Managed 
  %span.text-muted Customer Relationship Management
  %small aka MCRM

%blockquote
  Customer relationship management (CRM) is a system for managing a company's interactions with current and future customers. It often involves using technology to organize, automate and synchronize sales, marketing, customer service, and technical support.
  %footer 
    = link_to "Wiki", "http://en.wikipedia.org/wiki/Customer_relationship_management"

.row
  .col-lg-4.col-md-6
    %h2.page-header 
      %i.fa.fa-dashboard.gray
      Managed
    %b We'll handle phone calls for you.
    Are you out in the field doing your job and wonder if your calls are being answered?
    We manage interactions with new, existing and future customers. At all times, be aware of the activities relevant to your business.
    %p
      %br
      = site_link_to "Features", "features", class: 'btn btn-success'

     

  .col-lg-4.col-md-6
    %h2.page-header 
      %i.fa.fa-star(style="color:#FFD700")
      Customer
    
    %b Customers are your priority. 
    Customers, comments, invoices, estimates and incoming calls are easily accessible, 
    improving communication between business owners, field workers and customers. 
    Create, delete or revise any customer's information, wherever you are, from an device with a web browser.

    %p
      %br
      %b Updates are accessible immediately to everyone.   
 

  .col-lg-4.col-md-6
    %h2.page-header 
      %i.fa.fa-group.gray
      Relationships


    %b Build relationships with customers. 
    Know when they call and what you did for them last. 
    Answer the phone with "Hello [Customer name] how can I help you". 
    They 
    %i.fa.fa-heart(style="color:firebrick")
    that. 
    %p
    %blockquote
      A satisfied customer is the best business strategy of all.
      %footer Michael LeBoeuf    



%h1.page-header 
  Virtual Assistance 
  %small office and IT


.row
  .col-lg-4.col-md-6
    %h2.page-header 
      %i.fa.fa-ban.gray
      No office? 
      %small No problem
    You don't need one. Have one? Great, your phone number can be routed there.

  .col-lg-4.col-md-6
    %h2.page-header 
      %i.fa.fa-magic.gray
      Never miss a call 
      %small
    You've got a job to do. Let us answer the phone for you while streamlining your day-to-day work related activities.
    
  .col-lg-4.col-md-6
    %h2.page-header 
      %i.fa.fa-phone.gray
      Programmable phone
    We provide a toll free (and/or local) phone number and can answer the phone for you, or we can forward the calls to as many phones as necessary.
    No set up fees. 
    Track and receive calls from anywhere at anytime. Don't talk and text while driving We encourage you to take the pledge, we'll handle the calls for you.
    %p
      %br
      = link_to "Don't text and drive!", "http://www.itcanwait.com/all", class: 'btn btn-warning'


