%h3.page-header 
  Managed 
  %span.text-muted Customer Relationship Management
  %small aka MCRM

%blockquote
  Customer relationship management (CRM) is a system for managing a company's interactions with current and future customers. It often involves using technology to organize, automate and synchronize sales, marketing, customer service, and technical support.
  %footer 
    = link_to "Wiki", "http://en.wikipedia.org/wiki/Customer_relationship_management"
.row
  .col-lg-4.col-md-6
    %h2.page-header Managed
    Are you out in the field doing your job and wonder if your calls are being answered?
    We manage interactions with new, existing and future customers. At all times, be aware of the activities relevant to your business.
    
    %p
      %br
      %b  Let us answer the phone for you
     

  .col-lg-4.col-md-6
    %h2.page-header Customer
    
    Put the customer first. Customers, comments, invoices, estimates and incoming calls are easily accessible, 
    improving communication between business owners, field workers and customers. 
    Updates are accessible immediately to everyone.
    %p
      %br
      %b Create, delete or revise any customer's information, wherever you are, from an device with a web browser.   
 

  .col-lg-4.col-md-6
    %h2.page-header Relationships


    Build relationships with customers. 
    Know when they call and what you did for them last. 
    Answer the phone with "Hello [Customer name] how can I help you". They LOVE that. 
    %p
    %blockquote
      A satisfied customer is the best business strategy of all.
      %footer Michael LeBoeuf    



%h1.page-header
  No office? 
  %small no problem!

.row
  .col-lg-6
    %h2.page-header 
      Virtual office assistance
      %small we provide
    
    Tree Trimmers, Landscapers, Handymen, Electricians, Plumbers and other service contractors require office and customer functions but 
    may not have an office and can not always answer the phone.

    %p
      %br
      %b Never miss a call!

  .col-lg-6
    %h2.page-header 
      Toll free number
      %small programmable
    We provide a free your toll free number and can answer the phone for you. No set up fees. Track and receive calls from anywhere at anytime. Don't talk and text while driving We encourage you to take the pledge, we'll handle the calls for you.
    %p
      %br
      %b 
        Really!
        %em Never miss a call!     




