
%h1.page-header 
  No Office?
  %small No problem!

.row
  .col-lg-4
    %h2.page-header Who
    We are a small company in San Antonio with extensive experience in 
    %b information systems 
    and 
    %b customer service. 
    We understand that customer relationships are essential business - for us and for you.  

    %p
      %br/
      %b Ask about a free demo   

  .col-lg-4
    %h2.page-header What
    We help you manage your customer interactions. 
    We provide a 
    %b free, 
    programmable number that hooks up to the back end of your customer database and can 
    answer the phone for you.
    %p
      %br
      %b Never miss a call
  .col-lg-4
    %h2.page-header Why
    %ul
      %li Improve customer service and team communication
      %li Automate and simplify business processes
      %li Increase efficiency
      %li Capture more leads 
    %b Make more money

/ As a business owner, you need to be informed :
/ who called
/ what services are needed
/ where and when to go to your next job or estimate
/ Mblz provides real-time status updates on jobs, estimates and invoices so all workers and managers can see and take action.
