---
title: Schedule your Hand Rejuvenation Treatment today
description: Keep your hands looking young with our hand treatment; it will moisturize and hydrate your beautiful skin. 
---

%h1.page-header
  Hand Treatments
  %small.text-muted= site.title
%p 
  Hand Treatment softens rough dry skin.  A treament will moisturize and hydrate your skin making your hands look younger. 
  I offer these treatments for any event throughout the year by appointment only.

%p
  Get "Hand Rejuvenation Treatment!" with LED light Therapy
  %b Regular Price $35.00

  