---
title: Waxing for Men and Women|San Antonio Aesthetician
description: Eyebrow contouring, lip, chin, leg waxing for better self-esteem at reasonable prices.
keywords: eyebrow waxing, lip waxing, chin waxing, leg waxing.
---

%h1
  Waxing
  %small.text-muted for Ladies and Men
%p 
  Eyebrow shaping and waxing may be added onto any service upon request.  Prices may vary depending on the amount of required work. Services include:
  Eyebrow Contouring, Eyebrow Reshaping and Lip Waxing. 

%ul 
  %li
    %b Eye Brow Wax
    \- $15.00 &amp; up
  %li
    %b Lip Wax 
    \- $10.00
  %li
    %b Chin Wax 
    \- $10.00 &amp; up
  %li
    %b Bikini Wax 
    \- $35.00 &amp; up
  %li
    %b Full Leg Wax
    \- $85.00 &amp; up
  %li
    %b Half Leg Wax 
    \- $40.00

%h3 Waxing For Men
%ul
  %li
    %b Eye Brow Wax 
    \- $15.00 &amp; up
  %li 
    %b Full Back Wax
    \- $70.00