%h1.page-header
  Locations
  %small.text-muted
    for Cynthia Moseley, LMT

%h4 Texas
7201 Broadway Suite 302
%br/
San Antonio, Texas 78209

%h4 New Mexico
309 E College 
%br/
Silver City, NM 88061
