%tr
  %td= title
  %td= number_to_currency price
  %td(align="right")
    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
      %input{:name => "cmd", :type => "hidden", :value => "_xclick"}
      %input{:name => "business", :type => "hidden", :value => "cynthiamoseleylmt@gmail.com"}
      %input{:name => "item_name", :type => "hidden", :value => title}
      %input{:name => "amount", :type => "hidden", :value => price}
      %input{:name => "no_shipping", :type => "hidden", :value => "0"}
      %input{:name => "no_note", :type => "hidden", :value => "1"}
      %input{:name => "currency_code", :type => "hidden", :value => "USD"}
      %input{:name => "lc", :type => "hidden", :value => "US"}
      %input{:name => "bn", :type => "hidden", :value => "PP-BuyNowBF"}
      %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif", :type => "image"}
      %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypal.com/en_US/i/scr/pixel.gif", :width => "1"}
      %input{:name => "return", :type => "hidden", :value => "http://cynthiamoseleylmt.com/site/paypal"}
      %input{:name => "cancel_return", :type => "hidden", :value => "http://cynthiamoseleylmt.com/site/cancel_paypal"}
