.col-md-4.well
  %ul
    %li
      = link_to "Skin", "/content/fusion/skin.html"
    %li
      = link_to "Bridal", "/content/fusion/bridal.html"
    %li
      = link_to "Chromatic Color", "/content/fusion/chromatic.html"
    %li Manicures and Pedicures
    %li Blow Drying and Updos
    %li Eyebrow and Body Waxing
    %li Facials/Chemical Exfoliation
    %li Gift Certificates Available
    %li Hair Extensions
    %li Hair Cutting and Coloring
    %li House Calls/ on location services
    %li Make-up For All Occasions
    %li Wedding/Bridal Specialist  