.col-md-4.well
  %ul
    %li
      %a{:href => "/content/fusion/skin-and-nails"} Skin and Nails
    %li
      %a{:href => "/content/fusion/bridal"} Bridal
    %li Manicures and Pedicures
    %li Blow Drying and Updos
    %li Eyebrow and Body Waxing
    %li Facials/Chemical Exfoliation
    %li Gift Certificates Available
    %li Hair Extensions
    %li Hair Cutting and Coloring
    %li House Calls/ on location services
    %li Make-up For All Occasions
    %li Wedding/Bridal Specialist  