---
title: Great Lengths Hair Extensions
---

.row
  .col-lg-8
    %h1.page-header
      Hair Extensions
      %small.text-muted  Great Lengths Hair Extensions

    %p
      Great Lengths Hair Extensions are 100% Keratin bonded Human hair sourced from the Temples of India.  This is the finest source of virgin
      hair available.
    %p
      Great Lengths is ideal for creating fuller and longer hair that feels and looks natural. This customized service also enables me to 
      create beautiful chemicals free highlights, lowlights, ombre looks and pops of color throughout the hair. Great Lengths lasts 3 to 6 months.
      I use Great Lengths for Hair-Cut Corrections and styling as well. 
    %p
      Go to Great Lengths Hair to learn why its superior products and training are unmatched.  
      = link_to "Great Lengths Hair", "http://www.greatlengths.net/"
      
    %h4 
      %em 
        Prices vary depending on desired look and can range from 
        %b $350 to $2100. Call now for a complimentary consult.
  = partial("content/fusion/services")
    