---
title: Hair Extensions
---

.row
  .col-lg-8
    %h1.page-header
      Hair Extensions
      %small.text-muted  Great Lengths Hair Extensions

    %h3 Hair-Cut Correction/Creation
    %p
      100% Keratin bonded Human hair sourced from the Temples of India.  This is the finest source of virgin hair available.
      It is ideal for creating fuller and longer hair that feels and looks natural.  This customized service also enables us to 
      create beautiful chemicals free highlights, lowlights, ombre looks and pops of color throughout the hair.  Used in Hair-Cut
      Corrections as well.  Last 3 to 6 months. 
      
    %p
      Go to 
      = link_to "Great Lengths Hair", "http://www.greatlengths.net/"
      to learn why its superior products and training are unmatched. 
      = link_to "http://www.greatlengths.net/", "http://www.greatlengths.net/"

    %h4 
      %em 
        Prices vary depending on desired look and can range from 
        %b $350 to $2100.
  = partial("content/fusion/services")
    