---
title: Great Lengths Hair Extensions
description: We offer the latest styles and natural looks with our natural sourced hair for the perfect occasion.
---

.row
  .col-lg-8
    %h1.page-header
      Hair Extensions
      %small.text-muted  100% Keratin human hair

    %p
      Hair Extensions are 100% Keratin bonded Human hair sourced from the Temples of India. This is the finest source of virgin hair available.
    %p 
      Hair Extensions are ideal for creating fuller and longer hair that feels and looks natural. This customized service also enables me to create beautiful chemicals free highlights, lowlights, ombre looks and pops of color throughout the hair. Hair Extensions may lasts 3 to 6 months. I use Great Lengths for Hair-Cut Corrections and styling as well.

    %p
      %em 
        Prices vary depending on desired look and can range from 
        %b $350 to $2100. 
    %p
      Call
      = click_to_call
      now for a complimentary consult.

    