- if carousel.present?
  - content_for :carousel do
    = image_tag 'carousel/header.jpg', class: 'img-responsive', style: 'width:100%'



%h1.page-header
  Welcome to Fusion Salon
  %small
    Where fusing talent, experience, and education, creates your perfect style.

%p 
  Hello my name is <b>Marissa Spencer</b>, owner of Fusion Salon. 
  Fusion Salon consists of an eclectic group of independent highly trained stylists.
  We pride ourselves on having a fresh and welcoming salon environment.
  Prices and hours vary depending on the stylist.

%p 
  I have been in the beauty industry for 12 years. I believe myself to be professional, creative and a little nerdy. I am passionate about
  working with my clients to co-create the perfect look that suits their needs and wants. I stay on top of my training and education to perfect
  my craft. This allows me to deliver new and creative trends, techniques and products to my clients year after year. There is a full menu of hair 
  and skin services that I offer.  I possess advanced skills on a wide range of services including Hair Coloring, Hair Design, Great Lengths Hair Extensions and glo professional skin care and makeup.  I exclusively use Redken Hair Color.  Now, Redken also offers hair color that is gluten,
  soy and ammonia free.

  
:css
  body{
  padding-top:50px;
  }

