- if carousel.present?
  - content_for :carousel do
    = image_tag 'carousel/header2.jpg', class: 'img-responsive', style: 'width:100%'



%h1.page-header
  Welcome to Fusion Salon
  %small
    Where fusing talent, experience, and education, creates your perfect style.

%p 
  Hello my name is <b>Marissa Spencer</b>, owner of Fusion Salon. 
  Fusion Salon consists of an eclectic group of independent highly trained stylists.
  We pride ourselves on having a fresh and welcoming salon environment.

%p 
  I have been in the beauty industry for 12 years. I believe myself to be professional, creative and a little nerdy. I am passionate about
  working with my clients to co-create the perfect look that suits their needs and wants. I stay on top of my training and education to perfect
  my craft. This allows me to deliver new and creative trends, techniques, and products to my clients year after year. I have an advanced menu of
  hair and skin services that I offer.

  I offer advanced skills on a wide range of services including Redken Hair Color, Hair Design, Great Lengths Hair extension and
  glo therapeutics and glo minerals skin care and makeup lines. Through Redken I also offer hair color that is gluten. soy, and 
  ammonia free.

%h4
  %em Prices and hours vary depending on the stylist.

:css
  body{
  padding-top:50px;
  }

