---
title: Fusion Salon Services
description: Fusion's professional stylist providing make up, hair designs, hair extensions and hair coloring services. 
keywords: hair consultation, chemical exfoliation, color corrections, facials, skin consultation, hair design, hair color, make-up, bridal events 
---

.row
  .col-md-8
    %h1.page-header 
      Services
      %small what I offer
    %p 
      Here at
      = click_to_call
      , I pride myself in always doing a thorough consultation with each client. I believe to, not only meet your expectations but
      to exceed them. I have to take the time to assess your needs, wants, and goals. The following are some examples of what I
      consider during the consultation process:

    %h4
      Hair Consultation 
    %ul
      %li Any Allergies
      %li Face Shape
      %li Skin Tone
      %li Lifestyle
      %li Personality
      %li Time
      %li Hair Texture
      %li Hair Integrity
      %li Budget
    %p
    %h4 
      Skin Consultation
    %p
      A thorough history is taken and Skin Care goals are discussed.  For example, a goal would be minimizing wrinkles and pores,
      getting rid of acne and acne scars and relaxation. 
    %p
      Whether I'm servicing you for hair or skin or both.  I am passionate about getting you to your goals and creating the most
      complimenting, youthful and energetic look for you.  I work closely with my clients to reach their goals.  I also provide on
      location services.   
    %p
      <b>By Appointment Wednesday - Saturday</b>
    %p
      All Major Credit Cards Accepted; except American Express.  I also take cash and checks. 

  = partial("content/fusion/services")


