---
title: Fusion Salon Services
description: A group of experienced professional hairstylist providing make up, hair designs, hair extensions and hair coloring services. 
keywords: great length extensions, hair consultation, chemical exfoliation, color corrections, facials, skin consultation, hair color, make-up, bridal events
---

.row
  .col-md-8
    %h1 
      Services
      %small what I offer
    %p 
      Here at
      = click_to_call
      , I pride myself in always doing a thorough consultation with each client. I believe to, not only meet your expectations but
      to exceed them. I have to take the time to assess your needs, wants, and goals. The following are some examples of what I
      consider during the consultation process:


    %h4
      Hair Consultation 
      .pull-right= image_tag 'services/hair_design.jpg', class: 'rounded'
    %ul
      %li Any Allergies
      %li Face Shape
      %li Skin Tone
      %li Lifestyle
      %li Personality
      %li Time
      %li Hair Texture
      %li Hair Integrity
      %li Budget
    %p
    %h4 
      Skin Consultation
    %p
      A thorough history is taken to achieve a total skin analysis to recommend the right products.  For example, a goal would be minimizing wrinkles and pores, getting rid of acne and acne scars and relaxation.


    %p
      Whether I'm servicing you for hair or skin or both. I am passionate about getting you to your goals and creating the most complimenting, youthful and energetic look for you. I work 
    %p
      All Major Credit Cards Accepted; including American Express. My Fusion Salon also excepts cash and checks.

  = partial("content/fusion/services")


