---
title: Fusion Salon services front matter
description: Description Fusion Salon services front matter
keywords: Keywords, Fusion Salon services, front matter
---
.container
  .row
    .col-md-8
      %h1 Services
      %p 
        At the 
        = click_to_call
        , we do not just cut hair; we create works of art. Using our clients’ hair as a blank canvas, we provide professional hair styling services to not only meet, but also exceed your expectations. 
      %p
        = click_to_call
        is a premier Redken hair salon in San Antonio. We work with each of our customers on an individual basis to determine a color, cut, and style that fits your facial features and lifestyle. Before any service begins, you will always receive a complimentary thorough consultation from one of our team professionals. We will ask you important questions such as:
      %ul
        %li How much styling time you have?
        %li What your personal style is like?
        %li What are your hair concerns and goals?
        %li Do you have a picture of a style and color you like?

      %h2 With your input

      %p
        Our hair artists will apply their skills to create a look that meets your needs and wants. We are up-to-date on the latest trends. We can create dramatic edgy looks or soft looks to match your personality. If you are ever unsure about what style would suit you best, just ask! Someone on our highly trained staff would be more than happy to work with you on a personal level to discover a cut, color and style that suits your individual facial features best. 
      %p
        = click_to_call
        also specializes in wedding hairstyles such as formal up-do’s or soft flowing waves, and incorporating hair pieces and extensions into the style. Highlights, lowlights, full coloring/lightening, and other hair coloring salon techniques such as Ombre can also be done at Fusion Salon. Your cut and color should improve your appearance by complimenting your skins tone, giving you a youthful, more energetic look.
    = partial("content/fusion/services")


 