---
title: About us
---
%h1.page-header 
  About us
  %small who we are 
.row
  .col-md-12
    %p 
      Here are some of the resource we use to create these sites.
    %ul
      %li
        = link_to "Bootstrap", "http://getbootstrap.com/", target: '_blank'
        CSS Library
      %li
        = link_to "Bootswatch", "http://www.bootstrapcdn.com/#bootswatch_tab", target: '_blank'
        Themes
      %li
        = link_to "Lavish", "http://www.lavishbootstrap.com/", target: '_blank'
        Custom themes



