%hr
%h1 Locations

%h3 Pat Booker Rd

.well
  %p 
    218 Pat Booker Rd
    %br
    Universal City, Texas, 78148

  %b Hours of Operation:
  %p 
    Monday 12:00 to 6:00 pm
    %br
    Tuesday 3:00 to 6:00 pm
    %br
    Wednesday 3:00 to 6:00 pm

<iframe width="250" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=218+Pat+Booker+Rd+Universal+City,+Texas++&amp;daddr=&amp;hl=en&amp;geocode=&amp;mra=ls&amp;sll=37.0625,-95.677068&amp;sspn=31.784549,56.513672&amp;ie=UTF8&amp;t=h&amp;ll=29.545431,-98.288885&amp;spn=0.006295,0.007236&amp;output=embed"></iframe>
%hr

%h3 Michigan Ave
.well
  %p 
    Bienestar Total
    %br
    108 Michigan Ave
    %br
    San Antonio, Texas 78201

  %b Hours of Operation:
  %p 
    Tuesday: 9:30 am to 1:30 pm
    %br 
    Wednesday: 9:30 am to 1:30 pm
    %br
    Thursday: 10:00 am to 7:00 pm

<iframe width="250" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=108+Michigan+Ave+San+Antonio+Texas+78201&amp;hl=en&amp;geocode=&amp;mra=ls&amp;sll=37.0625,-95.677068&amp;sspn=31.784549,56.513672&amp;ie=UTF8&amp;t=h&amp;ll=29.450208,-98.511998&amp;spn=0.006295,0.007229&amp;output=embed"></iframe>
    