---
title: Behavioral Disorders | Hormonal Imbalance
description: An alternative treatment to manage most Medical Conditions such as alternative, fibromalgia, knee pain, arthritic and rheumatic pain
---

%h1.page-header 
  Medical Conditions
  %small Get extraordinary results with the treatment for Pain, Medical Conditions and Weight Loss!

%h3
  Auriculotherapy is proven to be effective to treat a variety of medical conditions, including:
%ul
  %li Diabetes (helps lowering glucose levels for people w/type 2 diabetes)
  %li Digestive disorders (constipation, acid reflux, nausea, etc.)
  %li Water Retention
  %li Muscular and musculoskeletal pain
  %li Back pain
  %li Knee pain
  %li Fibromyalgia
  %li Arthritic and rheumatic pain
  %li Sciatic pain

%h3 Sleep Disorders
%ul
  %li Insomnia
  %li Sleep apnea

%h3 Behavioral Conditions
%ul
  %li Addictions
  %li Depression
  %li Anxiety disorders
  %li Stress
%h3
  Hormonal Imbalances
%ul
  %li Infertility
  %li Menopause
  %li PMS

%h3 Cardiovascular
%ul
  %li Lowering cholesterol and triglyceride levels
  %li And many more . . . 
