%h1.page-header
  About
  %small.text-muted= site.title

%h3 
  = image_tag 'about/dr-aaron-goldberg.jpg', class: 'img-responsive img-rounded pull-left', style: 'margin-right:12px;'
  Meet Dr. Aaron Goldberg, D.D.S.

%p
  Dr. Aaron Goldberg was born in Mexico City, and moved to San Antonio, Texas in 1982. He has a degree in Dental Sciences and Dental Surgery from the Technological University of Mexico, where he functioned as an associate professor of Integral Dentistry. Dr. Goldberg also has a preceptor degree in dental ceramics from The University of Texas Health Science Center in San Antonio, Texas. His studies in oriental medical procedures started while still a student of dental science, where he learned to apply acupuncture techniques for dental and dental anesthesia purposes. He 
.clearfix