- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  Auriculotherapy
  %small An all natural alternative for general wellness and healthy weight loss
%p 

  Auriculotherapy is an ancient oriental system which has been in use for close to 3000 years to treat a variety of medical conditions. By normalizing the stimulation of the electrical conductivity that is generated in the brain and directed to every part of the human body, Auriculotherapy enables the body as a whole to perform at its optimum. This stimulation is achieved with the help of very small magnetized stainless steel beads that are applied in very specific areas of the external part of the ear. The ear has close to 400 different areas for this kind of stimulation that correspond to the same amount of body parts and works as the “control center”. 
%p
  Today, Auriculotherapy has successfully proved to aid in treatment for a range of medical issues including, weight loss, behavioral disorders and pain conditions.
%p
  At The Natural Way, we regularly treat patients for the following:
%ul
  %li Weight Loss
  %li Sleep disorders (insomnia, sleep apnea, etc.)
  %li Diabetes
  %li Hormonal imbalances (infertility, PMS, Menopause, etc.)
  %li Pain management (migraines, muscular and musculoskeletal pain, back pain, knee pain, fibromyalgia, arthritic and rheumatic pain, sciatic pain and more)
  %li Clinical depression and anxiety and more medical conditions, etc.

