
Red, Blue, Crimson

%table(width="100%" border="1" id="inventory")
  %tr
    %td(id="ti" rowspan="3" style="width:40px;") I
    %td(id="th") H
    %td(id="tg") G
    %td(id="tb" colspan="3" ) B
  %tr
    %td(id="tf") F
    %td(id="te") E
    %td(id="td")	D
    %td(id="tc")	C
    %td(id='ta' rowspan="2") A
  %tr
    %td(id="tj") J
    %td(id="tk") K
    %td(id="tl" colspan=2) L

= partial "content/paradise/_table_colors"
:css
   table#inventory tr td{padding:10px;text-align: center; color:white;font-weight:bold;}
   table#inventory tr td:hover{cursor:pointer}


/ %tr
/   %td
/   %td
/   %td
/   %td
/   %td
/ %tr
/   %td
/   %td
/   %td
/   %td
/   %td                