

<svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <style type="text/css">
    rect { 
        transition: .6s fill;
        fill: #D3D3D3;
    }
    rect:hover {
        fill: #22aa22;
    }
</style>
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <g>
  
  <rect stroke="#000000" id="svg_7" height="210" width="102" y="120" x="489" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"><title>Layer 1</title></rect>
  <rect stroke="#000000" id="svg_4" height="52" width="112" y="51" x="484" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
  <rect id="svg_14" height="210" width="33" y="116" x="386" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <rect stroke="#000000" id="svg_15" height="211" width="37" y="116" x="334" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
  <rect stroke="#000000" id="svg_16" height="212" width="43" y="116" x="265" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
  <rect stroke="#000000" id="svg_17" height="214" width="35" y="117" x="208" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
  <rect id="svg_18" height="0" width="1" y="140" x="188" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <rect stroke="#000000" id="svg_19" height="355.00002" width="75" y="43" x="46" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
  <rect stroke="#000000" id="svg_21" height="62" width="94" y="359" x="184" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
  <rect id="svg_22" height="68" width="66" y="354" x="302" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <rect id="svg_23" height="69" width="60" y="355" x="397" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_24" y="217" x="540" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">A</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_25" y="85" x="510" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">B</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_26" y="217" x="399" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">C</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_27" y="220" x="349" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">D</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_28" y="221" x="284" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">E</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_29" y="221" x="226" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">F</text>
  <rect stroke="#000000" id="svg_30" height="39" width="72" y="47" x="138" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="none"/>
  <rect id="svg_31" height="40" width="68" y="47" x="222" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <rect id="svg_32" height="0" width="13" y="67" x="167" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <text stroke="#000000" transform="matrix(1,0,0,1.0357142686843872,0,-2.249998927116394) " xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_34" y="74.37931" x="258" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" fill="#000000">G</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_35" y="75" x="162" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">H</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_36" y="231" x="83" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">I</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_37" y="395" x="234" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">J</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_38" y="393" x="325" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">K</text>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_39" y="394" x="417" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">L</text>
 </g>
</svg>