---
title: About Paradise Nursery, LLC. 
description:  Paradise Nursery, LLC. is the your best choice for wholesale plant, shrubs, cacti, flowers and palms in the San Antonio area. Stop by and check us out.
---

- @no_container = true
%p
.container
  %h1 
    %small.text-muted About
    Paradise Nursery



  %p 
    Paradise Nursery is dedicated in providing the best wholesale pricing for trees, shrubs, palms, cacti, and flowering plants for all landscaping needs. Our goal is to provide quality customer service, quality products and prices for all landscape contractors in San Antonio to make their job easier and less stressful. 

  %p 
    We carry every landscapers favorites such as:  Society Garlics, Agapanthus (Lily of the Nile), Gingers, Viburnums and Fringe Flowers (Loropetalum Shrubs) to make any garden look beautiful and the favorite pick of the neighborhood.  

.container-fluid#splash
 



.container
  %p
  %h2 History
  %p 
    Paradise Nursery was founded in 2015 by Mr. Raymond Dady from San Antonio Texas. 
    Mr Dady's goal is to utilize his landscape design and experience to stock the nursery with every type of tree, flowers, evergreens, perennials, shrubs, and ground covers that are tolerant to Texas weather, drought tolerant and deer tolerant. 


  %h2 
    How to do business with Paradise
  %p
    We are a wholesale plant nursery, please provide us with your Sales Tax Exempt Nr and business name to give you the appropriate discounts that your business deserves. 

  %p 
    Give us a call at 
    = click_to_call
    210-201-1428. 

:css 
  #splash{
    background-image: url('/assets/img/gallery/nursery/panoramic.jpg');
    background-size: cover;
    height: 266px;
  }
