---
title: Paradise Nursery,LLC. 
description: Paradise Nursery is San Antonio's landscapers first choice for all shrubs, ground covering, trees, cacti, and palms at an affordable wholesale price."
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1 
  Welcome to Paradise!
  %small.text-muted plants for every project

.container-fluid
  .row
    .col-lg-4.mb-4
      = image_tag 'misc/meta.jpg', class: 'img-fluid rounded w-100'
    .col-lg-8
      %p 
        Paradise Nursery, LLC. is a Wholesale Nursery, providing beautiful plants, shrubs, flowers, cacti and palms to San 
        Antonio landscapers, commercial contractors and builders. 
      %p If we are not stocked with your favorite landscaping plant or tree, we'll definitely add it to our next shipment.
      %p Come by and visit, meet our staff and smell the roses! Browse around at no obligation.
      %p
      %a(href="./content/paradise/products/" class="btn btn-primary")
        Check out our Products





