---
title: Services we offer
---
%h1 
  Services
  %small what services we offer
.row
  .col-sm-7
    %h3 Page types
    %p 
      There are various different page types to be aware of. 
      Most of them are 'collections' of things. 
      We can build any kind of page you need, but here are some examples to get you started.

    %ul
      %li Portfolio
      %li Testimonials
      %li Clients
  
  .col-sm-5
    .alert.alert-warning
      %b Need something highlighted?

      %p We've got you covered

    %blockquote
      Quoting something is easy
      %footer
        Mblz    





