---
title: Contact us
keywords: contact, form
skip_side_menu: true
---



.row
  .col-sm-12
    %div{:role => "tabpanel"}
      / Nav tabs
      %ul.nav.nav-pills{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "form-tab", "data-toggle" => "tab", :href => "#form-tab", :role => "tab"} Contact Form
        %li{:role => "presentation"}
          %a{"aria-controls" => "email-tab", "data-toggle" => "tab", :href => "#email-tab", :role => "tab"} Phone/Email
        %li{:role => "presentation"}
          %a{"aria-controls" => "location-tab", "data-toggle" => "tab", :href => "#location-tab", :role => "tab"} Location

      / Tab panes
      .tab-content
        #form-tab.tab-pane.active{:role => "tabpanel"}= partial('partials/site/contact/form')
        #email-tab.tab-pane.fade{:role => "tabpanel"}= partial('partials/site/contact/details')
        #location-tab.tab-pane.fade{:role => "tabpanel"}= partial('partials/site/contact/location')


= partial('partials/site/contact/javascript')




