---
title: Frequently Asked Questions
keywords: answers, questions
---

%h1.page-header 
  FAQs
  %small Frequently asked questions

- if site(:faqs)
  %ul
    - site(:faqs).each do |faq|
      %li
        %b= faq.q
        %p= faq.a


%style
  ul{list-style:none;padding-left:0}