= javascript_include_tag "//cdn.rawgit.com/jpillora/xdomain/0.6.17/dist/xdomain.min.js", slave: "http://#{mblz_host}/static/proxy.html"
= javascript_include_tag 'invoice'
#invoice-container
  
  %h3
    .fa.fa-spinner.fa-spin
    Loading invoice, please wait.
