---
title: Referrals
---
%h1.page-header
  Referrals
  %small.text-muted= site.title
- unless site(:referrals).blank?
  - site(:referrals).each do |ref|
    %h3= ref.name
    %p= ref.says
    = link_to ref.link.title, "http://" + ref.link.url, class: 'btn btn-primary btn-block'
- else
  ERROR: Should not be in site.
  No referrals.yml

