---
title: Customer reviews
description: Customer reviews for work we've completed
keywords: review, customer, rating
---


%h1.page-header 
  %span.fa.fa-heart(style="color:firebrick")
  Reviews
  %small what our customers say about us


- if reviews = site(:reviews)
  - if reviews.first.is_a?(Hash)
    -  reviews.each do |review|
      %blockquote
        = review.comment
        %footer
          = review.initials
- else
  ERROR add a reviews yml to data. 