---
title: Have your dream house built | Real Estate Broker
description: Building residential custom homes for first time buyers or buyers requiring a new family home.  
---


%h1.page-header
  About
  %small.text-muted= site.title
%p 
  Magnolia Homes is owned and operated by Ony Hall (Real Estate Broker) and
  husband Jeff Hall (Builder); together we've been building beautiful homes for 
  customer throughout Southwest Texas since 1988.  We take pride in our homes 
  and we base our reputation on quality built homes and getting the job done for 
  our customers.Magnolia 
%p
  We work closely with our customers from start to finish and listen to our 
  customer's needs budget and lifestyle. I'll help you to start with pre-
  qualification, planning, design and decorating to final approval of your loan 
  and finally closing of your loan. 
%p
  Jeff will help you through site inspections of lot or land, lot clearing, 
  blueprints, site supervising and final walk-thru of your new house.  
%p
  We can build a beautiful home on your lot or land or we can help you find the 
  perfect lot. If you have a lot in mind and have not yet purchased it, don't 
  worry come talk to us first we will include your lot purchase with your new 
  home.
%p
  First, we'll see that you get pre-qualified and get construction and permanent 
  financing in place for you with our highly qualified Mortgagee Brokers and 
  Bankers. We offer 100% financing. 
  Once you make the decision to build a home there is no need to do anything 
  else just pick up the phone to call us or contact us through our website 
  contact form. 
%p
  You can bring your house plans to us or choose one from our library of plans. 
  Our mission is to make your dream home a reality!
