---
title: Real Estate Broker in Frio County
description: Small to medium houses built with your plans our ours 
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1 
  = site.title
  %small Welcome


%h3 
  Custom Home Builder
  %p.pull-right.small
    %b Broker: 
    Ony Hall 
    %br/
    Pearsall, Texas
= image_tag 'index/house-6.png', class: 'img-fluid rounded', style: "width:100%"  


/ .container
/   %p
/   .row
/     .well

/       %h4 
/         Home for sale!
/         %small click the button below  to see ...

/       = link_to "Hondo Home", 'content/mag/for-sale', class: 'btn btn-default btn-block'


