---
title: Help Wanted
descr: help wanted

---

%h1.page-header 
  Help wanted
  %small We are a premier offroad shop that builds custom show trucks and lifted daily drivers.
 
%h3 Qualifications:
 
%p Experience in automotive suspension Lifted or lowered suspension $$$
 
%h3 Tools
 
%ul
  %li Fabrication, Welding, $$$
  %li Accessories installation, ex. 
  %li Grill guards, lights, steps, etc. $$$
 
%p
  %b Transportation a must!
 
%p Valid Drivers license
 
%p Please call me direct 1-866-250-3644  


