- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  Maximum Altitude Motorsports
  %small The Innovators and not Imitators!
%p 
  We have been in business since 1994. We are a one-stop shop for all your truck needs - Attitude Determines Altitude! 
%p Full Fabrication, Suspension Lift Kits, Wheels, Accessories and more.


%blockquote
  Maximum Altitude, Joey's work has been featured in different medias: several magazines, write-ups, newspapers." Great example: 
  %footer
    = link_to "Sports Truck", "http://www.sporttruck.com/featuredvehicles/ford/0403st_2000_ford_excursion/index.html"


