%h1 
  Services
  %small We are a one-stop shop for all your custom needs - Attitude Determines Altitude! 
%h3
  Some of our featured trucks have been seen in:
%ul
  %li Sport truck Magazine - March 2004
  %li Off-road magazine - Sept. 2004
  %li Street Truck Magazine - Jan 2006
  %li Pennzoil Platinum Award - March 2005
  %li Conexsion Magazine - May 2005
  %li Express News/San Antonio Life Section - June 12 2005
  %li Speed Logic - Nov 2005

%h3  We offer a variety of services for any type of vehicles to include: 
%ul
  %li Full Fabrication
  %li Suspension Lift Kits - Fabtech, Rough Country, Pro-Comp, Sky Jacker, SuperLift, ORU, BDS, Bullet Proof and more
  %li Suspension Lowering Kits - Bell Tech, DJM, Drop Zone, Air Baggit
  %li Full Service Restorations - Paint, Powder Coating, Chrome, Wiring
  %li Wheels - Chromes, Black, Polished, Custom Painted
  %li Performance Parts, Headers, Carbs, Intakes, MSD, Electronics
  %li Truck Accessories - Bumpers, Grille Guards, Billet Grills, RBP Grills, Steps, Amp Research, Best Top, Rock Sliders
  %li Exhaust Systems - Flow Master, Gibson, Borla, Magna Flow, MBRP, RBP, Flow Pro, H&S Performance
  %li And Much More!

%h3  Benefits on using Maximum Altitude Motorsports : 
%ul
  %li 40 years of combined experience
  %li 17 years in business, same owner
  %li Warranty Guaranteed
  %li BBB accredited
  %li If you live in or around San Antonio - Stop by and check us out!