/ http://lipis.github.io/bootstrap-social/
%section.footer
.container
  %hr
  .row
    .col-md-8
      %a(name="contact")
      %h4 Address
      %a(href="#{site.geo_address || '#'}" target="_map")
        = site_partial 'address'

      %p 
        Phone: 
        %a(href="tel:#{site.phone}")= site.phone
        /= data.sites.fusion.phone
      %p 
        Email: 
        %a(href="mailto:#{site.email}?subject=contact from website") myfusionsalon@gmail.com   
    .col-md-4 
      %a(name='social')
      %h4 Social Media Links
      %a(href="https://www.facebook.com/FusionSalonSA" class="btn btn-social-icon btn-facebook")
        %i(class="fa fa-twitter")
      %a(href="https://google.com/plus" class="btn btn-social-icon btn-google-plus")
        %i(class="fa fa-google-plus")      
